{{#view FLOW.SurveyGroupMainView}}
<section id="allSurvey" class="mainRight surveysList">
<nav>
  <!-- show all survey groups -->
  <ul>

    {{#each sg in FLOW.surveyGroupControl.arrangedContent}}
      {{#view FLOW.SurveyGroupMenuItemView contentBinding="sg"}}
        <a {{action "makeSelected" target="this"}}>
          <h2>
            {{sg.code}}
            {{#if view.amFolder}}[F]{{/if}}
            {{#if view.amMonitoringGroup}}[M]{{/if}}
          </h2>
        </a>
      {{/view}}
    {{/each}}
  </ul>
</nav>
</section>
{{/view}}
