{{#each Q in view.QGcontent}}
    <h1 class="questionNbr"><span>{{Q.order}}} </span>{{Q.text}}</h1><br/><br/>
    <div class="previewQuestion">
      {{view Ember.TextField valueBinding="view.tip" size=10 }}
    </div>
{{/each}}