{{view Ember.TextField valueBinding="view.content.code" size=5}}
{{view Ember.TextField valueBinding="view.content.text" size=15}}
<a {{action deleteOption target="FLOW.questionOptionsControl"}}>{{t _delete_option}}</a>