html {
	height: 100%
}

#outerContainer {
	height: 80%;
	width: 100%;
}
#info_canvas {
	float:left; 
	height:100%;
	width:25%;
	overflow:auto; 
	display:inline;
}

#info_canvas-v1 {
	height: 100%;
	width: 25%;
	float: left;
}

#map_canvas {
	height: 100%;
	width: 75%;
	float: right;
}

/* main start */
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background: #fff;
	font: 11px/14px Verdana, Helvetica, sans-serif;
	color: #333;
}

img {
	border-style: none;
}

a {
	color: #416482;
	outline: none;
}

a:link,a:visited {
	text-decoration: none;
	color: #f3f3f3;
}

a:hover,a:active {
	text-decoration: none;
	color: #bdd73c;
}

a:hover {
	text-decoration: none;
}

a {
	outline: none;
}

/*content end*/
#footer {
	width: 960px;
	overflow: hidden;
	border-top: 1px solid #b58e2d;
	padding: 8px 0 0;
}

#footer ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	font: 11px/14px Verdana, Helvetica, sans-serif;
	overflow: hidden;
	width: 100%;
}

#footer ul.menu li {
	float: left;
	background:
		url(http://www.waterforpeople.org/assets/images/separator-02-inner.gif)
		no-repeat 0 3px;
	letter-spacing: 1px;
	margin: 0 13px 0 0;
	padding: 0 0 0 13px;
}

#footer ul.menu li:first-child {
	background: none;
	padding-left: 0;
}

#footer ul.menu li a {
	color: #c93;
	text-decoration: none;
}

#footer ul.menu li a:hover {
	text-decoration: underline;
}

#wrap {
	background: #e7e7e7;
	width: 550px;
	height: 550px;
	padding-top: 10px;
}

#headerBalloon {
	height: 60px;
	background: #58585a;
	margin-right: auto;
	margin-left: auto;
	width: 530px;
}

#WFPcredit {
	font-size: 10px;
	color: #f3f3f3;
	position: relative;
	font-weight: normal;
	text-align: right;
	width: 380px;
	left: 140px;
	top: -60px;
}

#communityDesc {
	background: #f3f3f3;
	height: 60px;
	width: 530px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

#communityDef {
	float: left;
	font-size: 15px;
	position: relative;
	top: 5px;
	left: 5px;
}

#communityName {
	margin-bottom: 10px;
}

.mapIcon {
	float: right;
	position: relative;
	right: 5px;
	top: 5px;
}

#mainContent {
	width: 530px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}

#leftContent {
	width: 325px;
	font-size: 10px;
	position: relative;
	float: left;
	top: 10px;
}

.QandA {
	position: relative;
	min-height: 30px;
}

.question {
	background: #58585a;
	text-align: right;
	color: #f3f3f3;
	margin-top: 3px;
	margin-bottom: 3px;
	float: left;
	width: 155px;
	padding-right: 5px;
	padding-left: 5px;
	min-height: 30px;
}

.question span {
	position: relative;
	width: 100%;
}

.answer {
	float: right;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 150px;
	padding-left: 10px;
	min-height: 30px;
}

.answer img {
	top: 2px;
	position: relative;
}

#rightContent {
	position: relative;
	float: right;
	width: 195px;
	top: 10px;
}

#rightContent .photo {
	background: #58585a;
	padding: 10px;
}

#photoCaption {
	color: #f3f3f3;
	font-size: 10px;
	text-align: center;
	margin-top: 5px;
}

/* Normal
   -------------------------------- */
.normal h3,.normal h4 {
	margin: 0;
	font-weight: normal;
}

.normal h3 {
	padding: 0 0 9px;
	font-size: 1.8em;
}

.normal h4 {
	padding-bottom: 21px;
	border-bottom: 1px dashed #999;
	font-size: 1.2em;
	font-weight: bold;
}

.normal p {
	font-size: 1.2em;
}

.normal h3.demo-header {
	font-size: 32px;
	padding: 0 0 5px;
	border-bottom: 1px solid #eee;
	text-transform: capitalize;
}

.normal h4.demo-subheader {
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
	padding: 8px 0 3px;
	border: 0;
	margin: 0;
}

.normal a:link,.normal a:visited {
	color: #1b75bb;
	text-decoration: none;
}

.normal a:hover,.normal a:active {
	color: #0b559b;
}

/* overrides for ui-tab styles */
#widget-docs ul.ui-tabs-nav {
	padding: 0 0 0 8px;
}

#widget-docs .ui-tabs-nav li {
	margin: 5px 5px 0 0;
}

#widget-docs .ui-tabs-nav li a:link,#widget-docs .ui-tabs-nav li a:visited,#widget-docs .ui-tabs-nav li a:hover,#widget-docs .ui-tabs-nav li a:active
	{
	font-size: 14px;
	padding: 4px 1.2em 3px;
	color: #fff;
}

#widget-docs .ui-tabs-nav li.ui-tabs-selected a:link,#widget-docs .ui-tabs-nav li.ui-tabs-selected a:visited,#widget-docs .ui-tabs-nav li.ui-tabs-selected a:hover,#widget-docs .ui-tabs-nav li.ui-tabs-selected a:active
	{
	color: #e6820E;
}

#widget-docs .ui-tabs-panel {
	padding: 20px 9px;
	font-size: 12px;
	line-height: 1.4;
	color: #000;
}

#widget-docs .ui-widget-content a:link,#widget-docs .ui-widget-content a:visited
	{
	color: #1b75bb;
	text-decoration: none;
}

#widget-docs .ui-widget-content a:hover,#widget-docs .ui-widget-content a:active
	{
	color: #0b559b;
}