html {
	height: 100%
}
#header {
	height:54px;
}

#header-right {
	float:right;
	height:36px;
	padding:15px 20px 0 15px;
	width:510px;
}

#header-right input {
	display:inline;
	width:160px;
	margin: 0;
	padding:0 0 0 10px;
	background:#1a1a1a;
}
#header-right label {
	color:#fff;
	font-size: 9px;
	text-align:center;
	width:160px;
	cursor:pointer;
	background: url(../images/new/toggle-dark-bg.gif) no-repeat;
}
#header-right .radio1 {
	padding:7px 55px 19px;
}
#header-right .radio2 {
	padding:7px 0 19px 0;
}
#header-right .radio3 {
	padding:7px 0 19px 0;
}

ul#toggle-nav .ui-tabs .ui-tabs-nav li a.ui-tabs-selected { 
	background: url(../images/new/toggle-light-bg.gif) no-repeat;
}
#outerContainer {
	height: 86%;
	width: 100%;
}
#info_canvas {
	float:left; 
	padding: 0 20px;
	margin:0;
	width:292px;
}

/* tabs and scroll pane for info window */

#info_canvas .info-canvas-interior {
	background:#333;
	border-radius: 15px;
	-moz-border-radius: 15px;
	padding:2px;
	border:2px solid #333;
}

#info_canvas .info-canvas-interior .tab-container {
	height: 34px;
	background: #333;
	margin:0;
	padding: 0 0 10px 0;
}
#info_canvas .info-canvas-interior .tab-container ul#tab-nav {
	list-style: none;
	margin:0;
	padding:0 0 0 1px;
	background:#1a1a1a;
}
#info_canvas .info-canvas-interior .tab-container ul#tab-nav li {
	float:left;
	width:94px;
	margin: 0; 
	display: inline;
	list-style-type: none;
	text-align:center;
}

#info_canvas .info-canvas-interior .tab-container ul#tab-nav li a {
	display:block;
	padding: 3px 0 17px 0;
	color:#fff;
	background: #1a1a1a;
}

#info_canvas .info-canvas-interior .tab-container ul#tab-nav li.tab-left a {
	background: #333333 url(../images/new/tab-nav-a-bg-off.gif) no-repeat;
	border-right:1px solid #333;
}

#info_canvas .info-canvas-interior .tab-container ul#tab-nav li.tab-left a.active {
	background: #333333 url(../images/new/tab-nav-a-bg-on.gif) no-repeat;
}

#info_canvas .info-canvas-interior .tab-container ul#tab-nav li.tab-middle a {
	background: #333333 url(../images/new/tab-nav-b-bg-off.gif) no-repeat;
	border-right:1px solid #333;
}

#info_canvas .info-canvas-interior .tab-container ul#tab-nav li.tab-middle a.active {
	background: #333333 url(../images/new/tab-nav-b-bg-on.gif) no-repeat;
}

#info_canvas .info-canvas-interior .tab-container ul#tab-nav li.tab-right a {
	background: #333333 url(../images/new/tab-nav-c-bg-off.gif) no-repeat;
}

#info_canvas .info-canvas-interior .tab-container ul#tab-nav li.tab-right a.active {
	background: #333333 url(../images/new/tab-nav-c-bg-on.gif) no-repeat;
}

#fragment-1, #fragment-2, #fragment-3 {
	padding:5px 0;
	margin:0;
}

#info_canvas .jspVerticalBar {
	left: 0;
}

#info_canvas .scroll-pane {
	width: 100%;
	height:542px;
	background:#333;
	overflow: auto;
	padding:0;
	margin:0;
}

#info_canvas p {
	padding:0 6px 8px 3px;
}
#info_canvas .jspContainer{
	overflow: hidden;
	position: relative;
}

#info_canvas .jspPane{
	position: absolute;
}
#info_canvas .jspCap{
	display: block;
	background: #eeeef4;
}

#info_canvas .jspVerticalBar .jspCap{
	height: 20px;
}
#info_canvas .jspVerticalBar{
	position: absolute;
	top: 0px;
	right: 0;
	width: 6px;
	height: 100%;
}
#info_canvas .jspVerticalBar *{
	margin: 0;
	padding: 0;
}

#info_canvas .jspCap{
	display: none;
}

#info_canvas .jspTrack{
	background: #333;
	position: relative;
}

#info_canvas .jspDrag{
	background: #939598;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

#info_canvas .jspArrow{
	background: #fff;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

#info_canvas .jspArrow  .jspDisabled{
	cursor: default;
	background: #80808d;
}

#info_canvas .jspVerticalBar .jspArrow{
	height: 8px;
}

#info_canvas .jspVerticalBar  .jspArrow:focus{
	outline: none;
}

#info_canvas .jspCorner{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html #info_canvas .jspCorner{
	margin: 0 -3px 0 0;
}

#info_canvas .info-canvas-bottom {
	padding-top:0px;
}

#map-container {
	margin-left:362px;
	height:100%;
	
}
#map_canvas {
	height: 100%;
	width: 100%;
	float: right;
	margin-right:20px;
	background:#333;
	border-radius: 15px;
	-moz-border-radius: 15px;
}

.logo {
	margin:0;
	padding: 0 0 20px 0;	
	text-align:center;
}

/* main start */
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background: #231f20;
	font: 11px/14px Verdana, Helvetica, sans-serif;
	color: #fff;
}

img {
	border-style: none;
}

a {
	color: #416482;
	outline: none;
}

a:link,a:visited {
	text-decoration: none;
	color: #f3f3f3;
}

a:hover,a:active {
	text-decoration: none;
	color: #bdd73c;
}

a:hover {
	text-decoration: none;
}

a {
	outline: none;
}

/*content end*/


#footer {
	clear:both;
	margin: 0;
	padding: 20px 0 0 40px;
	font: 12px/14px Verdana, Helvetica, sans-serif;
}

#footer a {
	color: #e7e8e9;
	text-decoration: none;
}

#footer .devBy {
	font-size: 10px;
}

#wrap {
	background: #e7e7e7;
	width: 550px;
	height: 550px;
	padding-top: 10px;
}

#headerBalloon {
	height: 60px;
	background: #58585a;
	margin-right: auto;
	margin-left: auto;
	width: 530px;
}

#WFPcredit {
	font-size: 10px;
	color: #f3f3f3;
	position: relative;
	font-weight: normal;
	text-align: right;
	width: 380px;
	left: 140px;
	top: -60px;
}

#communityDesc {
	background: #f3f3f3;
	height: 60px;
	width: 530px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

#communityDef {
	float: left;
	font-size: 15px;
	position: relative;
	top: 5px;
	left: 5px;
}

#communityName {
	margin-bottom: 10px;
}

.mapIcon {
	float: right;
	position: relative;
	right: 5px;
	top: 5px;
}

#mainContent {
	width: 530px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}

#leftContent {
	width: 325px;
	font-size: 10px;
	position: relative;
	float: left;
	top: 10px;
}

.QandA {
	position: relative;
	min-height: 30px;
}

.question {
	background: #58585a;
	text-align: right;
	color: #f3f3f3;
	margin-top: 3px;
	margin-bottom: 3px;
	float: left;
	width: 155px;
	padding-right: 5px;
	padding-left: 5px;
	min-height: 30px;
}

.question span {
	position: relative;
	width: 100%;
}

.answer {
	float: right;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 150px;
	padding-left: 10px;
	min-height: 30px;
}

.answer img {
	top: 2px;
	position: relative;
}

#rightContent {
	position: relative;
	float: right;
	width: 195px;
	top: 10px;
}

#rightContent .photo {
	background: #58585a;
	padding: 10px;
}

#photoCaption {
	color: #f3f3f3;
	font-size: 10px;
	text-align: center;
	margin-top: 5px;
}

/* Normal
   -------------------------------- */
.normal h3,.normal h4 {
	margin: 0;
	font-weight: normal;
}

.normal h3 {
	padding: 0 0 9px;
	font-size: 1.8em;
}

.normal h4 {
	padding-bottom: 21px;
	border-bottom: 1px dashed #999;
	font-size: 1.2em;
	font-weight: bold;
}

.normal p {
	font-size: 1.2em;
}

.normal h3.demo-header {
	font-size: 32px;
	padding: 0 0 5px;
	border-bottom: 1px solid #eee;
	text-transform: capitalize;
}

.normal h4.demo-subheader {
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
	padding: 8px 0 3px;
	border: 0;
	margin: 0;
}

.normal a:link,.normal a:visited {
	color: #1b75bb;
	text-decoration: none;
}

.normal a:hover,.normal a:active {
	color: #0b559b;
}

div.info-window.inactive {
	display: none;
}
