@import "./variables.scss";

@font-face {
  font-family: "FlowRoboto";
  src: local("Roboto Regular"), local("Roboto_Regular"), local("roboto-regular");
  src: url("./fonts/roboto-regular.woff2");
  src: url("./fonts/roboto-regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "FlowRoboto";
  src: local("Roboto Bold"), local("Roboto_Bold"), local("roboto-bold");
  src: url("./fonts/roboto-bold.woff2");
  src: url("./fonts/roboto-bold.woff");
  font-weight: 700;
}

body {
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  & *,
  *::before,
  *::after {
    font-family: "FlowRoboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    background-repeat: no-repeat;
  }

  #root {
    overflow-x: hidden;
  }

  a {
    transition: all ease-out 0.3s;
    text-decoration: none;
  }

  .flow-logo {
    font-size: unset;
    margin: 0;
    a {
      display: block;
      background-image: url("../public/logo.svg");
      background-position: 0 center;
      background-size: cover;
      text-indent: -9999px;
    }
  }

  .toggle-menu {
    display: none;
  }

  span {
    color: $black;
    display: block;
  }

  button,
  input[type="checkbox"] {
    cursor: pointer;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}
