<section id="main" class="mapFlow floats-in" role="main">
  <div id="flowMap" style="height: 600px"></div>
  <div id="flowMapLegend" style="background-color: #FFF; padding: 1em">
    <h1 style="color: #FF0000">LEGEND</h1>
    <p>To be given some <strong>Loïc Love&copy;</strong></p>
  </div>
</section>
