<section id="main" class="mapFlow floats-in" role="main">
<div id="flowMap"></div>
<div id="pointDetails">
<h2>Point Details:</h2>
  <dl class="floats-in"> 
  	{{#each item in FLOW.placemarkDetailControl}}
      <dt>{{item.questionText}}:</dt> 
      <dd>{{#with item}}{{addSpace stringValue}}{{/with}}</dd>
    {{/each}} 
  </dl>
</div>

  <div id="flowMapLegend">
    <h1>LEGEND</h1>
    <p>To be given some <strong>Loïc Love&copy;</strong></p>
  </div>
</section>