<section id="main" class="mapFlow floats-in" role="main">
<div id="flowMap"></div>
<div id="pointDetails">
  <dl> {{#each item in FLOW.placemarkDetailControl}}
    <dt>{{item.questionText}}:</dt> <dd>{{item.stringValue}}</dd>
    {{/each}} 
  </dl>
</div>

  <div id="flowMapLegend">
    <h1>LEGEND</h1>
    <p>To be given some <strong>Loïc Love&copy;</strong></p>
  </div>
</section>