<section id="main" class="mapFlow floats-in" role="main">
<div id="flowMap"></div>
<div id="pointDetails">
  <ul> {{#each item in FLOW.placemarkDetailControl}}
   	<li>{{item.questionText}}: {{item.stringValue}}</li>
   {{/each}}
   </ul>
</div>

  <div id="flowMapLegend">
    <h1>LEGEND</h1>
    <p>To be given some <strong>Loïc Love&copy;</strong></p>
  </div>
</section>