<section id="main" class="mapFlow floats-in" role="main">
<div id="flowMap"></div>
<div id="pointDetails">
<div class="drawHandle hideMapD"></div>
<h2>Point Details:</h2>
  <img {{bindAttr src="view.imageURL"}} alt="" />
  <dl class="floats-in"> 
  	{{#each item in FLOW.placemarkDetailControl}}
      <dt>{{item.questionText}}:</dt> 
      <dd>{{#with item}}{{addSpace stringValue}}{{/with}}</dd>
    {{/each}} 
  </dl>
</div>

  <div id="flowMapLegend">
    <h1>LEGEND</h1>
    <p>To be given some <strong>Loïc Love&copy;</strong></p>
  </div>
</section>

<script type="text/javascript">
$(document).ready(function(){
	 $(".drawHandle").toggle(function(){
		 $("#flowMap").animate({width:"97.5%"}, 200 );
		 $("#pointDetails").animate({width:"2%"}, 200 ).css({"overflow":"none", "margin-left":"-2px"});
		 $("#pointDetails h2, #pointDetails dl, #pointDetails img" ).animate({opacity:"0"}, 100 );
		 $(".drawHandle").removeClass("hideMapD").addClass("showMapD");
		 
	 }, function(){
		 $("#flowMap").animate({width:"75%"}, 200 );
		 $("#pointDetails").animate({width:"24.5%"}, 200 ).css({"overflow":"auto", "margin-left":"-2px"});
		 $(".drawHandle").removeClass("showMapD").addClass("hideMapD");
		 $("#pointDetails h2, #pointDetails dl, #pointDetails img" ).animate({opacity:"1"}, 200 );
	 });
});
</script>