<section id="main" class="mapFlow floats-in" role="main">
  <div id="map" style="height: 600px"></div>
  <div id="legend" style="background-color: #FFF; padding: 1em">
    <h1>LEGEND</h1>
    <p>To be given some <strong>Loïc Love&copy;</strong></p>
  </div>
</section>
