<section id="main" class="mapFlow floats-in" role="main">
<div id="drawHandleWrap"><div class="drawHandle hideMapD">hide ›</div></div>
<div id="flowMap"></div>
<div id="pointDetails">
  <img {{bindAttr src="view.imageURL"}} alt="" />
  <dl class="floats-in"> 
  	{{#each item in FLOW.placemarkDetailControl}}
      <dt>{{item.questionText}}:</dt> 
      <dd>{{#with item}}{{addSpace stringValue}}{{/with}}</dd>
    {{/each}} 
  </dl>
</div>

<div id="flowMapLegend">
    <h1>LEGEND</h1>
    <p>To be given some <strong>Loïc Love&copy;</strong></p>
  </div>
</section>

<script type="text/javascript">
$(document).ready(function(){
		 $("#flowMap").animate({width:"97.5%"}, 1000 );
		 $("#pointDetails").animate({width:"2%"}, 1000 ).css({"overflow":"hidden", "margin-left":"-2px"});
		 $("#pointDetails h2, #pointDetails dl, #pointDetails img" ).css({opacity:"0"}).css({display:"none"});
		 $(".drawHandle").removeClass("hideMapD").addClass("showMapD").text("‹ show");
	 $(".drawHandle").toggle(function(){
		 $("#flowMap").animate({width:"75%"}, 200 );
		 $("#pointDetails").animate({width:"24.5%"}, 200 ).css({"overflow":"auto", "margin-left":"-2px"});
		 $("#pointDetails h2, #pointDetails dl, #pointDetails img" ).animate({opacity:"1"}, 200 ).css({display:"inherit"});
		 $(".drawHandle").removeClass("showMapD").addClass("hideMapD").text("hide ›");
	 }, function(){
		 $("#flowMap").animate({width:"97.5%"}, 200 );
		 $("#pointDetails").animate({width:"2%"}, 200 ).css({"overflow":"hidden", "margin-left":"-2px"});
		 $("#pointDetails h2, #pointDetails dl, #pointDetails img" ).css({opacity:"0"}).css({display:"none"});
		 $(".drawHandle").removeClass("hideMapD").addClass("showMapD").text("‹ show");
	 });
});
</script>