div.overlay.display {
	display:block;
	opacity: 1.0;
}

div.overlay {
	display:none;
	top: 0; right: 0; bottom: 0; left: 0;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	opacity: 0.0;
	transition: opacity 2s;
	-moz-transition: opacity 2s; /* Firefox 4 */
	-webkit-transition: opacity 2s; /* Safari and Chrome */
	-o-transition: opacity 2s; /* Opera */	
	width: 100%;
	z-index: 100;
}

.blanket {
	background-color: #000000;	
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
	opacity: 0.8;
	position: absolute;
	width: 100%;
}

.dialog {
	display: block;
	margin: 100px auto;
	position: relative;
  width: 500px;
  padding: 40px;
  background: white;
  -moz-border-radius: 10px;
}