/* 
Title:      Loicsans.com master IE styles
Author:     loic@loicsans.com
Copyright:  2010, Loic Sans.  All rights reserved (please don't re-use without permission).
*/

/*IE specific CSS Document 

*/

*:first-child+html #nav li {
	width: 24.9%;
}

*:first-child+html li.QR-code {
	width:50%;
	}
	
	/* PNG fix */

* html #selector { /* for IE<6 */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='img/image.png'); background-image: none; background-repeat: no-repeat; background-color: transparent;
	}

/* self-clear floats */

* html .floats-in { /* IE6 */
	height: 1%;
	}
*:first-child+html .floats-in { /* IE7 */
	min-height: 1px;
	}
*:first-child+html header > h2 {line-height: 1em; font-weight:bold;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
.ie6 input {vertical-align: text-bottom;}
