/*-------------------------------------------------------------------------------------------------------------

                    Title:          SASS library and Style Guide for Akvo Flow dashboard.
		            Author:         Loic Sans, loic@akvo.org
-------------------------------------------------------------------------------------------------------------*/

/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  PLEASE NEVER EDIT main.css directly  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */

$bodyFont: 'Raleway', 'Open Sans',  "Helvetica Neue", Helvetica, Arial, sans-serif;
$scriptFont: 'Dancing Script', Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
$titleFont:  'Raleway','Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;

$akvoPurple: rgb(44, 42, 116);
$akvoActionBlue: rgb(44, 42, 116);

$akvoLightBlue: rgb(39, 170, 225);
$akvoOrange: rgb(222, 137, 41);
$midGrey:rgb(153, 153, 153);
$akvoDarkBlue:rgb(57, 102, 128);
$linkColor: rgb(107, 134, 141);
$akvoRed: #C81600;
$akvoRed2: #ef4136;
$anchorLink: rgb(74, 177, 207);
$anchorLinkHover: rgb(246, 160, 26);
$akvoGolden: #c49a6c;
$yellowTableHead: rgb(245, 200, 43);

$projectBackground: rgb(56, 69, 74);
$projectTopBackground: rgb(55, 67, 72);
$projectTopBackgroundLighter: rgb(53, 78, 90);

$monitorGreen: rgb(0, 167, 157);

$lightGrey: rgb(232, 232, 232);
$darkGrey: rgb(58, 58, 58);
$tableHeaderGrey: rgb(84, 83, 85);



$navCurrent: #F7F2E5;


$blackOpac: rgba(0,0,0,0.1);
$green: #8DC63F;

@mixin offSet($marginLeft, $marginRight) {
  margin-left:$marginLeft;
  margin-right:$marginRight;
}


@mixin border-radius($property) {
    -moz-border-radius: $property;
    -o-border-radius: $property;
    -webkit-border-radius: $property;
    border-radius: $property;
}
@mixin box-shadow($boxshadow...) {
    -moz-box-shadow: $boxshadow;
    -o-box-shadow: $boxshadow;
    -webkit-box-shadow: $boxshadow;
    box-shadow: $boxshadow;
}
@mixin background-size($backgroundSize...) {
    -moz-background-size: $backgroundSize;
    -o-background-size: $backgroundSize;
    -webkit-background-size: $backgroundSize;
    background-size: $backgroundSize;
}
@mixin transition($transitonProperties) {
    -moz-transition: $transitonProperties;
    -o-transition: $transitonProperties;
    -webkit-transition: $transitonProperties;
    transition: $transitonProperties;
}
@mixin noWrapTxt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}


$width-small:  768px;
$width-medium: 992px;
$width-large:  1200px;

@mixin responsive($width) {
  @if $width == wide-screens {
    @media only screen and (min-width: $width-large) { @content; }
  }
  @else if $width == medium-screens {
    @media only screen and (min-width: $width-medium) {@content; }
  }
  @else if $width == small-screens {
    @media only screen and (min-width: $width-small) { @content; }
  }
  @else if $width == wide-max-screens {
    @media only screen and (max-width: $width-large) { @content; }
  }
  @else if $width == medium-max-screens {
    @media only screen and (max-width: $width-medium) { @content; }
  }
  @else if $width == small-max-screens {
    @media only screen and (max-width: $width-small) { @content; }
  }
}




@mixin placeholder-color($color){
  &.placeholder{
    color: $color;
  }
  &:-moz-placeholder{
    color: $color;
  }
  &::-webkit-input-placeholder{
    color: $color;
  }
  &:-ms-input-placeholder{
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
  }
}
