/* 
	Title:      Akvo Flow Styles for Desktop
	Author:     Loic Sans, loic@akvo.org
*/


/* Colours 
---------------------------
	
Akvo Primary Colours: 

		rgb(44, 42, 116);   		Akvo Purplish Blue
		rgb(114,  205, 255);		Akvo very light blue
		rgb(222, 137, 41);			Akvo Orange / light Brown
		rgb(153, 153, 153); 		Akvo Mid grey
		rgb(57, 102, 128);			Akvo Darker shade Blue from light blue
		rgb(107, 134, 141);			Akvo Blueish Green link color
		rgb(246, 160, 26);			Flow Orange
		rgb(38, 8, 89);				Flow Purple
	
Akvo Secondary Colours:
	
		rgb(225, 237, 195);			Akvo very Light green
		rgb(227, 27, 35);			Akvo red
		rgb(219, 135, 201);			Akvo Pink
		rgb(255, 210, 0);			Akvo Yellow
		rgb(125, 125, 125); 		Akvo Darker Grey
		rgb(66, 76, 43);			Akvo Very dark Green (Military)
		rgb(119, 97, 0);			Akvo Kaki (Greenish Brown)
		rgb(242, 240, 230);			Akvo Off White
		rgb(74, 177, 207);			Blue Light


/*--------------------------------------------------------------

   * Default Typography.

-------------------------------------------------------------- */

/* Default font settings.
   The font-size percentage is of 16px. (0.625 * 16px = 10px) */
   
html {
	overflow-y: scroll;
	border-top: 3px solid rgb(38, 8, 89);
	background: rgb(255, 255, 255);
	font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}
body {
	color: rgb(36, 48, 50);
	font-size: 62.5%;
	font-family: Helmet, Freesans, sans-serif;
}
/*-------------------------------------------------------------- 
							Headings
-------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	text-transform: capitalize;
	font-weight: normal;
}
h1 {
	font-size: 2.4em;
	line-height: 1.5em;
}
.mainContent h1 {
	position: relative;
	display: inline;
	color: rgb(227, 27, 35);
	font-size: 1.8em;
}
h2 {
	color: rgb(44, 42, 116);
	font-size: 1.8em;
	line-height: 1.6em;
}
h3 {
	font-size: 1.8em;
	line-height: 1;
}
h4 {
	margin-bottom: 1.25em;
	font-size: 1em;
	line-height: 1.25em;
}
h5 {
	margin-bottom: 1.5em;
	font-size: 1em;
}
h6 {
	font-size: 1em;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin: 0;
}
/*  Styles the & when class "amp" is applied around &  */
.amp {
	font-style: italic;
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
}
em {
	padding-bottom: 1em;
}
time {
	font-family: Georgia, "Times New Roman", Times, serif;
}
/* misc.
--------------------------------------------- */
img, object, video, embed {
	max-width: 100%;
}
.hidden {
	display: none !important;
}
.shown {
	display: block !important;
}
hr, .hide {
	display: none;
}
a img {
	border: none;
}
/* self-clear floats 
	I use a class named .floats-in > This implicitely says that each time a container contains floated elements within. We can clear those by applying this class to that container.
*/

.floats-in:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}
.emphasized {
	position: relative;
	color: rgb(184,184,184);
	font-size: 1.2em;
}
.emphasized span {
	position: absolute;
	left: 155px;
	color: rgb(222, 137, 41);
	font-weight: bold;
}
pre {
	display: block;
	overflow: auto;
	margin: .5em 0;
	padding: 10px;
	width: 800px;
	border: 1px solid #bae2f0;
	background: #e3f4f9;
	font: 100% "Courier New", Courier, monospace;
}
#tooltip {
	position: absolute;
	display: none;
	padding: 5px;
	max-width: 300px;
	background: rgb(242, 240, 230);
	box-shadow: 0 0 1px rgb(0,0,0);
	color: #333;
	font-size: 1.2em;
}
/* links 
---------------------------------------------------------------*/

a, a:link, a:visited {
	outline: none;
	color: rgb(74, 177, 207);
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: rgb(0,123,182);
}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
background: #930;
color: #fff;
text-shadow: none;
}
::selection {
	background: #930;
	color: #fff;
	text-shadow: none;
}
a:link {
	-webkit-tap-highlight-color: #fcd700;
}
ins {
	background-color: #930;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #930;
	color: #000;
	font-weight: bold;
	font-style: italic;
}
.fadedText {
	color: rgb(153,153,153);
}
.selectInfo {
	color: rgb(58,58,58);
}
.visible {
	visibility: hidden;
}
.nonVisible {
	visibility: visible;
}
a.standardBtn, input[type="submit"] {
	display: block;
	margin: 20px auto;
	padding: 7px 1%;
	width: 10%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: rgb(0,123,182);
	color: rgb(235,235,235);
	text-align: center;
	text-transform: uppercase;
	font-size: 1.1em;
	-o-border-radius: 3px;
}
a.standardBtn:hover, input[type="submit"]:hover {
	background: rgb(39,94,139);
	color: rgb(255,255,255);
}
a.smallBtn {
	display: inline-block;
	padding: 5px 7px 3px 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: rgb(0,123,182);
	color: rgb(235,235,235);
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
	-o-border-radius: 3px;
}
a.smallBtn:hover {
	background: rgb(39,94,139);
	color: rgb(255,255,255);
}
a.helpIcon {
	position: absolute;
	top: -1px;
	left: 290px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/helpIcon.png) center top no-repeat;
	text-indent: -9999px;
}
a.helpIcon:hover {
	background: url(../images/helpIcon.png) center bottom no-repeat;
}
a.AddBtn {
	display: inline-block;
	margin: 10px 0 0 26%;
	padding: 1em 1% 0.8em 1.5em;
	width: 58%;
	background: url(../images/addbtn.png) left center no-repeat;
	color: rgb(0,123,182);
	text-align: left;
	text-transform: uppercase;
	font-size: 1.1em;
}
a.AddBtn:hover {
}
/*-------------------------------
	Dialog
-----------------------------------*/
.overlay.display {
	display: block;
	opacity: 1.0;
}
.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: none;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	opacity: 0.0;
	-webkit-transition: opacity 2s; /* Safari and Chrome */
	-moz-transition: opacity 2s; /* Firefox 4 */
	-o-transition: opacity 2s; /* Opera */
	transition: opacity 2s;
}
.blanket {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	opacity: 0.8;
}
.dialogWrap {
	position: relative;
	width: 100%;
	Height: 100%;
}
.dialog {
	position: absolute;
	top: 35%;
	left: 35%;
	display: block;
	padding: 1em 2em;
	width: 25%;
	border: thin solid rgb(153,153,153);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: white;
	-o-border-radius: 4px;
}
.dialogWrap .menuCentre {
	margin: 30px auto 10px auto;
}
.dialogWrap p {
	margin-top: 15px;
	padding: 1em;
	background: rgb(242,242,242);
	font-size: 1.5em;
}
/* page structure
--------------------------------------------- */
#pageWrap {
	position: relative;
	margin: 0 auto;
	padding: 0;
	min-width: 916px;
	max-width: 1188px;
	width: 90%;/* border:1px sold rgb(36, 48, 50); */
	background: transparent;/* background:url(../images/light-grain-trans.png) repeat; *//* -webkit-box-shadow:2px 0 2px rgba(200, 200, 200, 0.8), -2px 0 2px rgba(200, 200, 200, 0.8); *//* -moz-box-shadow:2px 0 2px rgba(200, 200, 200, 0.8), -2px 0 2px rgba(200, 200, 200, 0.8); *//* box-shadow:2px 0 2px rgba(200, 200, 200, 0.8), -2px 0 2px rgba(200, 200, 200, 0.8); */
}
header.top > div {
	position: relative;
	margin: 0 auto;
	padding: 0;
	min-width: 916px;
	max-width: 1188px;
	width: 90%;
}
#main {
	margin: 0 0 20px 0;
	/* padding:10px 0.5%; */
	/* background:rgb(239, 232, 220); */
	background: transparent;
}
footer > div {
	position: relative;
	margin: 0 auto;
	padding: 0;
	min-width: 916px;
	max-width: 1188px;
	width: 90%;
	height: 50px;
	color: rgb(255, 255, 255);
}
.leftSidebar {
	position: relative;
	float: left;
	width: 20%;
}
.rightSidebar {
	position: relative;
	float: right;
	width: 22%;
}
.mainRight {
	position: relative;
	float: left;
	width: 80%;
}
.mainLeft {
	position: relative;
	float: right;
	width: 78%;
}
.topBar {
	position: relative;
	width: 100%;
	height: 38px;
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
	background: rgb(58,58,58);
}
.fullWidth {
	position: relative;
	width: 100%;
}
.mainContent {
	padding: 0 0 0 10px;
}
.whiteBg {
	position: relative;
	margin: 0.5em 0.5%;
	width: 99%;
	background: rgb(255,255,255);
}
/* .header
--------------------------------------------- */

header.top {
	position: relative;
	margin: 0 0 20px 0;
	padding: 0;
	width: 100%;
	height: 80px;/* background: rgb(58,58,58); */
}
header.top > div {
}
header.top hgroup h1 {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 169px;
	height: 60px;
	background: url(../images/akvoFlowLogo2.png) no-repeat center top;
	text-indent: -9999px;
}
header.top hgroup h1:hover {
	background: url(../images/akvoFlowLogo2.png) no-repeat center top;
}
header.top hgroup h1 a {
	display: block;
	width: 169px;
	height: 60px;
	text-indent: -9999px;
}
header.top hgroup h2 {
	position: absolute;
	z-index: 0;
	text-align: left;
	text-indent: -9999px;
}
#userLog {
	position: absolute;
	top: 5px;
	right: 0;
}
#userLog ul li {
	display: inline;
}
/* #home page
--------------------------------------------- */

/* Top navigation styles 
--------------------------------------------- */

nav#topnav {
	position: absolute;
	top: 0px;
	left: 210px;
}
nav#topnav ul {
	position: relative;
	width: 100%;
}
nav#topnav ul li {
	display: inline;
	float: left;
	margin: 2px 4px 0 0;
	padding: 0 6px 0 0;/* background: url(../images/navSeparator.png) right center no-repeat; */
}
nav#topnav ul li:last-child, nav#topnav ul li:last-child:hover, nav#topnav ul li.current, nav#topnav ul li.current:hover {
	background-image: none;
}
nav#topnav ul li:hover {
	background: none;
}
nav#topnav ul li a {
	display: block;
	padding: 46px 6px 24px 6px;
	color: rgb(74, 177, 207);
	vertical-align: bottom;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 1.2em;
	cursor: pointer;
	-webkit-transition: background-color .4s linear;
	-moz-transition: background-color .4s linear;
	-o-transition: background-color .4s linear;
	transition: background-color .4s linear;
}
nav#topnav ul li a:hover, nav#topnav ul li.current a {
	color: rgb(246, 160, 26);
}
/*************** addition MTW **************/
nav#topnav ul li.navHome a {
	background: url(../images/topnavDashboards.png) center -18px no-repeat;
}
nav#topnav ul li.navHome a:hover {
	background: rgb(237, 237, 237) url(../images/topnavDashboards.png) center -18px no-repeat;
}
nav#topnav ul li.navHome.current a {
	background: url(../images/topnavDashboards.png) center bottom no-repeat;
}
/***************** end addition MTW ************/



nav#topnav ul li.navSurveys a {
	background: url(../images/topnavSurveys.png) center -18px no-repeat;
}
nav#topnav ul li.navSurveys a:hover {
	background: rgb(237, 237, 237) url(../images/topnavSurveys.png) center -18px no-repeat;
}
nav#topnav ul li.navSurveys.current a {
	background: url(../images/topnavSurveys.png) center bottom no-repeat;
}
nav#topnav ul li.navData a {
	background: url(../images/topnavData.png) center -18px no-repeat;
}
nav#topnav ul li.navData a:hover {
	background: rgb(237, 237, 237) url(../images/topnavData.png) center -18px no-repeat;
}
nav#topnav ul li.navData.current a {
	background: url(../images/topnavData.png) center bottom no-repeat;
}
nav#topnav ul li.navDashboards a {
	background: url(../images/topnavDashboards.png) center -18px no-repeat;
}
nav#topnav ul li.navDashboards a:hover {
	background: rgb(237, 237, 237) url(../images/topnavDashboards.png) center -18px no-repeat;
}
nav#topnav ul li.navDashboards.current a {
	background: url(../images/topnavDashboards.png) center bottom no-repeat;
}
nav#topnav ul li.navMaps a {
	background: url(../images/topnavMaps.png) center -18px no-repeat;
}
nav#topnav ul li.navMaps a:hover {
	background: rgb(237, 237, 237) url(../images/topnavMaps.png) center -18px no-repeat;
}
nav#topnav ul li.navMaps.current a {
	background: url(../images/topnavMaps.png) center bottom no-repeat;
}
nav#topnav ul li.navDevices a {
	background: url(../images/topnavDevices.png) center -18px no-repeat;
}
nav#topnav ul li.navDevices a:hover {
	background: rgb(237, 237, 237) url(../images/topnavDevices.png) center -18px no-repeat;
}
nav#topnav ul li.navDevices.current a {
	background: url(../images/topnavDevices.png) center bottom no-repeat;
}
nav#topnav ul li.navUsers a {
	background: url(../images/topnavUsers.png) center -18px no-repeat;
}
nav#topnav ul li.navUsers a:hover {
	background: rgb(237, 237, 237) url(../images/topnavUsers.png) center -18px no-repeat;
}
nav#topnav ul li.navUsers.current a {
	background: url(../images/topnavUsers.png) center bottom no-repeat;
}
nav#topnav ul li.navReports a {
	background: url(../images/topnavReports.png) center -18px no-repeat;
}
nav#topnav ul li.navReports a:hover {
	background: rgb(237, 237, 237) url(../images/topnavReports.png) center -18px no-repeat;
}
nav#topnav ul li.navReports.current a {
	background: url(../images/topnavReports.png) center bottom no-repeat;
}
nav#topnav ul li.navAdmin a {
	background: url(../images/topnavAdmin.png) center -18px no-repeat;
}
nav#topnav ul li.navAdmin a:hover {
	background: rgb(237, 237, 237) url(../images/topnavAdmin.png) center -18px no-repeat;
}
nav#topnav ul li.navAdmin.current a {
	background: url(../images/topnavAdmin.png) center bottom no-repeat;
}
/*--------------------------------------------- 
			Top Header Search input
--------------------------------------------- */
header input[type="search"] {
	position: absolute;
	top: 36px;
	right: 0px;
	width: 10%;
	-webkit-transition: width 0.1s linear;
	-moz-transition: width 0.1s linear;
	-o-transition: width 0.1s linear;
	transition: width 0.1s linear;
}
header input[type="search"]:focus {
	width: 14%;
}
/*--------------------------------------------- 
					main styles
--------------------------------------------- */

/*--------------------------------------------- 
					Footer
-----------------------------------------------*/
footer.bottomPage {
	position: relative;
	margin: 0 0 20px 0;
	padding: 0;
	width: 100%;
	height: 50px;
	background: rgb(38, 8, 89);
}
footer.bottomPage small {
	position: relative;
	display: block;
	margin: 20px auto;
	padding: 20px 0 0 0;
	width: 30%;
	color: rgb(205,205,205);
	text-align: center;
	font-weight: normal;
	font-size: 1em;
}
footer.bottomPage div#backToTop {
}
footer.bottomPage a[rel="self"] {
}
footer.bottomPage a[rel="self"]:hover {
}
/*--------------------------------------------- 
			Devices List table
-----------------------------------------------*/

#devicesList {
}
table.dataTable {
	margin: 1px auto;
	width: 100%;
	border-collapse: collapse;
	color: #606060;
	text-align: left;
}
table.dataTable td {
	overflow: hidden;
	padding: 1.1em 0;
	vertical-align: middle;
	text-align: center;
}
table.dataTable td:hover {
	font-weight: bold;
}
table.dataTable tbody tr {
	border-bottom: thin solid rgb(255,255,255);
	background: rgb(255, 255, 255);
	-webkit-transition: background-color .4s linear;
	-moz-transition: background-color .4s linear;
	-o-transition: background-color .4s linear;
	transition: background-color .4s linear;
}
table.dataTable tbody tr:nth-child(2n), table.dataTable tbody tr.even {
	background: rgb(232, 230, 220);
	-webkit-transition: background-color .4s linear;
	-moz-transition: background-color .4s linear;
	-o-transition: background-color .4s linear;
	transition: background-color .4s linear;
}
table.dataTable tbody tr:hover, table.dataTable tbody tr:nth-child(2n):hover, table.dataTable tbody tr.even:hover {
	background: rgb(177,214,224);
	color: rgb(16, 28, 30);
}
table.dataTable thead tr {
	border-bottom: none;
	/* background:rgb(107, 134, 141); */
	/* background:rgb(66,82,87); */
	background: rgb(58,58,58);
}
table.dataTable thead tr th {
	padding: 10px 5px;
	border-right: thin solid rgb(12,12,12);
	background: url(../images/sortTableArrows.png) right center no-repeat;
	color: rgb(255, 210, 0);
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.1em;
}
/* Addition MTW - yellow headings in tables */
table.dataTable thead tr th a, table.dataTable thead tr th a:link, table.dataTable thead tr th a:visited {
	color: #FFD200;
	cursor: pointer;
}
/* end addition MTW */


table.dataTable thead tr th.sorting_desc {
	background: rgb(23,23,23) url(../images/sortTableDown.png) right center no-repeat;
}
table.dataTable thead tr th.sorting_asc {
	background: rgb(23,23,23) url(../images/sortTableUp.png) right center no-repeat;
}
table.dataTable thead tr th:last-child {
	border-right: none;
}
tfoot tr {
	display: none;
	background: transparent;
}
#devicesListTable .macAddress {
	width: 14%;
	text-transform: uppercase;
}
#devicesListTable .action {
	width: 10%;
}
#devicesListTable .deviceName {
	width: 17%;
}
#devicesListTable .extraName {
	width: 17%;
}
#devicesListTable .joinDate {
	width: 10%;
}
#devicesListTable .latitude {
	width: 16%;
}
#devicesListTable .longitude {
	width: 16%;
}
#inspectData {
	border: thin solid rgb(224,224,224);
	border-top: 1px solid rgb(255,255,255);
	background: rgb(224,224,224);
}
/**************** Assign Survey to devices. **************/

#assignSurveys fieldset {
	position: relative;
	margin: 3px auto;
	padding: 1em 1% 3em 1%;
	width: 97%;
}
fieldset#assignmentDetails {
	background: rgb(255,255,255);
}
#assignSurveys input {
	padding: 3px 5px;
	border: 1px solid rgb(158,158,158);
}
#assignmentDetails > input {
	margin: 0 0.5em 1em 0;
	width: 45%;
}
.dateRange {
	position: relative;
	display: block;
	width: 100%;
}
input.datePicker {
	display: inline;
	width: 90%;
	border-color: transparent;
	background: rgb(250, 244, 230) url(../images/icon_cal.png) right center no-repeat;
}
.dateRange div.activeDate, .dateRange div.expireDate {
	width: 50%;
}
.dateRange div.activeDate {
	float: left;
}
.dateRange div.expireDate {
	float: right;
}
.fieldSetWrap {
	position: relative;
	clear: both;
	overflow: auto;
	margin: 3px auto;
	padding: 0;
	width: 99%;
	background: rgb(242,242,242) url(../images/FieldSetSep.png) center center no-repeat;
}
.fieldSetWrap.makeWhite {
	background: rgb(255, 255, 255) url(../images/FieldSetSep.png) center center no-repeat;
}
#assignSurveys .fieldSetWrap fieldset {
	display: inline;
	margin: 0;
	padding: 1em 0.5% 1.5em 0.5%;
	min-height: 200px;
	width: 49%;
}
#assignSurveys .fieldSetWrap fieldset table {
	overflow: scroll;
	margin: 0 auto;
	max-height: 210px;
	width: 98%;
}
.action a {
	display: block;
	width: 13px;
	height: 13px;
	background: url(../images/removeList.png) center top no-repeat;
	text-indent: -99999px;
}
.action a:hover {
	background: url(../images/removeList.png) center bottom no-repeat;
}
table.previewList {
	color: rgb(209,84,95);
}
#assignSurveys .fieldSetWrap fieldset table tbody {
	border: thin solid rgb(230,230,230);
}
#assignSurveys .fieldSetWrap fieldset table th {
	padding: 5px 0 5px 5px;
	background: rgb(242,242,242);
	color: rgb(107, 134, 141);
	text-align: left;
	text-transform: capitalize;
	font-weight: normal;
	font-size: 1.3em;
	cursor: pointer;
}
#assignSurveys .fieldSetWrap fieldset table tr:nth-child(2n+1) {
	background: rgb(230,230,230);
}
#assignSurveys .fieldSetWrap fieldset table tr:nth-child(2n) {
	background: rgb(255,255,255);
}
#assignSurveys .fieldSetWrap fieldset table tr:last-child {
	background: transparent;
}
#assignSurveys .fieldSetWrap fieldset table td {
	padding: 0 0 0 1.5%;
	border-right: thin solid rgb(255,255,255);
	vertical-align: middle;
	text-align: left;
}
#assignSurveys .fieldSetWrap fieldset table td:last-child {
	border-right: none;
}
#assignSurveys .fieldSetWrap fieldset table tfoot tr {
	display: table-row;
	height: 21px;
	background: transparent;
	vertical-align: middle;
}
#assignSurveys .fieldSetWrap fieldset table tfoot td {
	position: relative;
	text-align: center;
}
#assignSurveys .fieldSetWrap fieldset table tfoot td a {
	display: block;
	float: right;
	padding: 5px 3px;
	width: 10%;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	background: rgb(0,123,182);
	color: rgb(255,255,255);
	-webkit-transition: background 0.5s ease-in;
	-moz-transition: background 0.5s ease-in;
	-o-transition: background 0.5s ease-in;
	transition: background 0.5s ease-in;
	-o-border-radius: 0 0 5px 5px;
}
#assignSurveys .fieldSetWrap fieldset table tfoot td a:hover {
	background: rgb(107, 134, 141);
	color: rgb(255,255,255);
}
.groupPreview {
	width: 37.5%;
}
.surveyPreview {
	width: 48.5%;
}
th.action {
	width: 7%;
}
#assignSurveys .fieldSetWrap fieldset table td.action {
	padding: 0.6em 0 0.6em 3%;
	width: 7%;
}
#assignSurveys .fieldSetWrap fieldset.formLeftPanel {
	position: relative;
	float: left;
}
#assignSurveys .fieldSetWrap fieldset.formRightPanel {
	position: relative;
	float: right;
	padding: 1em 0.5% 1.5em 1.5%;
	width: 48%;
	height: 98%;
}
#assignSurveys .fieldSetWrap fieldset.formLeftPanel div {
	position: relative;
	display: inline;
}
#assignSurveys .fieldSetWrap fieldset.formLeftPanel div nav {
	position: absolute;
	top: 0.8em;
	right: 2.2em;
	display: inline;
}
#assignSurveys .fieldSetWrap fieldset.formLeftPanel div nav ul li {
	display: inline;
	margin: 0 0 0 5px;
}
#assignSurveys .fieldSetWrap fieldset.formLeftPanel div nav ul li:first-child {
	margin: 0 0 0 0;
}
#assignSurveys .fieldSetWrap fieldset.formLeftPanel div nav ul li a {
	color: rgb(0,123,182);
}
#assignSurveys .fieldSetWrap fieldset.formLeftPanel div:nth-child(2n+1) {
	float: right;
	width: 55%;
}
#assignSurveys .fieldSetWrap fieldset.formLeftPanel div:nth-child(2n) {
	float: left;
	width: 45%;
}
#assignSurveys .fieldSetWrap fieldset.formLeftPanel div:nth-child(2n) select {
	width: 90%;
}
#assignSurveys .fieldSetWrap fieldset.formLeftPanel div:nth-child(2n+1) select {
	width: 90%;
}
.menuConfirm {
	margin: 0 auto;
	text-align: center;
}
.menuConfirm ul li {
	display: inline;
	margin: 0 15px 0 0;
}
.menuConfirm ul li a {
	display: inline-block;
}
/*-------------------------------------------------------------------- 
							Tabs Styling
----------------------------------------------------------------------*/
#tabs div > section {
	border: thin solid rgb(224,224,224);
	border-top: 1px solid rgb(255,255,255);
	background: rgb(230,230,230);
}
#tabs div > section h1 {
	display: block;
	margin: 0.8em 0 0.8em 0.5em;
	color: rgb(44, 42, 116);
	font-size: 2em;
}
#tabs nav.tabNav {
	display: block;
	padding: 0;
	width: 100%;
}
#tabs nav.tabNav ul {
	padding: 0;
}
#tabs nav.tabNav ul li {
	display: inline;
	float: left;
	margin: 0 1px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background: rgb(201,201,201); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(201,201,201) 0%, rgb(223,223,223) 83%, rgb(206,206,206) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(201,201,201)), color-stop(83%, rgb(223,223,223)), color-stop(100%, rgb(206,206,206))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(201,201,201) 0%, rgb(223,223,223) 83%, rgb(206,206,206) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(201,201,201) 0%, rgb(223,223,223) 83%, rgb(206,206,206) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(201,201,201) 0%, rgb(223,223,223) 83%, rgb(206,206,206) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(201,201,201) 0%, rgb(223,223,223) 83%, rgb(206,206,206) 100%); /* W3C */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5YzljOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZWNlY2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-clip: padding-box;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#cecece', GradientType=0 ); /* IE6-8 */
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
}
#tabs nav.tabNav ul li:hover {
	background: rgb(174,174,174);
}
#tabs nav.tabNav ul li.active, #tabs nav.tabNav ul li.active:hover {
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(69,72,77) 0%, rgb(0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(69,72,77)), color-stop(100%, rgb(0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(69,72,77) 0%, rgb(0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(69,72,77) 0%, rgb(0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(69,72,77) 0%, rgb(0,0,0) 100%); /* IE10+ */
	background: linear-gradient(top, rgb(69,72,77) 0%, rgb(0,0,0) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0 ); /* IE6-8 */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
#tabs nav.tabNav ul li a {
	display: block;
	padding: 1.1em 1.5em;
	color: rgb(147, 145, 144);
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgb(235,235,235);
	font-size: 1.1em;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-text-shadow: 1px 1px 0 rgb(235,235,235);
	-moz-text-shadow: 1px 1px 0 rgb(235,235,235);
}
#tabs nav.tabNav ul li.active a, #tabs nav.tabNav ul li.active a:hover {
	color: rgb(255,255,255);
	text-shadow: none;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
}
#tabs nav.tabNav ul li a:hover {
	color: rgb(255,255,255);
	text-shadow: none;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
}
/* Survey styles
--------------------------------------------- */
.surveysList {
	position: relative;
	background: rgba(255,255,255,0.6);
}
/* Survey Groups Menu Bar
--------------------------------------------- */
#groupBar, #newSurveyInfo {
	padding: 0 0 5px 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
	background: rgb(58,58,58);
}
#groupBar nav input {
	display: block;
	margin: 8px auto 10px auto;
	padding: 5px;
	width: 86%;
}
#groupBar a.smallBtn {
	margin: 0 0 10px 27%;
}
#groupBar nav a.smallBtn:nth-child(2n) {
	margin: 0 0 10px 0;
}
#groupBar input[type="search"] {
	display: block;
	margin: 8px auto 10px auto;
	width: 77%;
}
.topBar input[type="text"] {
	margin: 7px 0 10px 10px;
	padding: 3px 5px;
	width: 20%;
}
#groupBar h2, #newSurveyInfo h2 {
	margin: 15px 0 10px 10px;
	color: rgb(5, 5, 5);
	color: rgba(5, 5, 5, 1);
	text-shadow: 0px 1px 0px rgb(125, 125, 125), 0px -1px 0px rgb(0,0,0);
	font-size: 1.8em;
	-moz-text-shadow: 0px 1px 0px rgb(125, 125, 125), 0px -1px 0px rgb(0,0,0);
	-webkit-text-shadow: 0px 1px 0px rgb(125, 125, 125), 0px -1px 0px rgb(0,0,0);
	-o-text-shadow: 0px 1px 0px rgb(125, 125, 125), 0px -1px 0px rgb(0,0,0);
}
.no-textshadow #groupBar h2, .no-textshadow #newSurveyInfo h2 {
	color: rgb(125, 125, 125);
}
nav ul.menuGroup {
	background: rgb(58,58,58);
}
nav ul.menuGroup li {
	margin: 2px 1% 1px 1%;
	width: 98%;
	border-bottom: thin solid rgb(55, 55, 55);
	/* background: url(../images/surveyGroupBg.png) left center repeat-x; */
	background: rgb(70,70,70);
	background: rgba(255,255,255,0.05);
}
nav ul.menuGroup li.current {
	border-bottom: thin solid rgb(55, 55, 55);
	background: rgb(90,90,90);
	background: rgba(255,255,255,0.15);
}
nav ul.menuGroup li a {
	display: block;
	overflow: hidden;
	padding: 10px 1% 0 5%;
	width: 94%;
	height: 23px;
	background: url(../images/selectIndictr.png) right top no-repeat;
	color: rgb(153,153,153);
	color: rgba(255,255,255,0.6);
	text-transform: capitalize;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.2em;
	cursor: pointer;
}
nav ul.menuGroup li a:hover {
	background: rgb(80,80,80) url(../images/selectIndictr.png) right 50% no-repeat;
	background: rgba(255,255,255,0.05) url(../images/selectIndictr.png) right 50% no-repeat;
	color: rgb(114,  205, 255);
}
/********* MTW changed nav ul.menuGroup li a.current:hover, nav ul.menuGroup li a.current to 
"nav ul.menuGroup li.current a:hover, nav ul.menuGroup li.current a" to select li item instead of a ********/

nav ul.menuGroup li.current a:hover, nav ul.menuGroup li.current a {
	/* border-left: thin solid rgb(255,255,255); */	background: url(../images/selectIndictr.png) right bottom no-repeat;
	color: rgb(246, 160, 26);
}
/* Survey Top Bar
--------------------------------------------- */
section.topBar {
	position: relative;
	margin: 0 0 10px 0;
}
section.topBar h2 {
	display: inline;
	overflow: hidden;
	margin-left: 10px;
	padding-left: 15px;
	max-width: 45%;
	background: url(../images/apostrophe.png) left -2px no-repeat;
	color: rgb(205, 205, 205);
	text-transform: capitalize;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.5em;
	line-height: 2.6em;
}
section.topBar > a {
	position: relative;
	display: inline-block;
	padding: 8px 7px 5px 7px;
	color: rgb(114,  205, 255);
	text-transform: uppercase;
}
section.topBar > a:hover {
	color: rgb(255,255,255);
}
section.topBar > a.smallBtn {
	margin: 0 0 0 5px;
	color: rgb(235,  235, 235);
}
/* ****************** MTW added for save and cancel button ************* */
nav > a {
	position: relative;
	display: inline-block;
	margin: 0 0 0 10px;
	color: rgb(114,  205, 255);
}
/* ********************  end MTW  **************************/


nav.menuTopbar {
	position: absolute;
	right: 0;
	display: inline;
}
nav.menuTopbar ul {
	padding: 0 0 0 15px;
	height: 35px;/* background: url(../images/topbarSeperator.png) left center no-repeat; */
}
#surveyCreator nav.menuTopbar ul {
	background: none;
}
nav.menuTopbar ul li {
	display: inline;
	float: left;
	margin: 4px 10px 0 0;
	text-transform: uppercase;
}
nav.menuTopbar ul li:last-child {
	display: inline;
	float: left;
	margin: 4px 4px 0 0;
	text-transform: uppercase;
}
nav.menuTopbar ul li a {
	display: block;
	padding: 10px 10px 12px 30px;
	height: 7px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: rgb(255,255,255);
	font-size: 1em;
	-webkit-transition: background-color linear 0.1;
	-moz-transition: background-color linear 0.1;
	transition: background-color linear 0.1;
	-wekit-border-radius: 3px;
}
nav.menuTopbar ul li a.addGroup {
	background: rgb(77,77,77) url(../images/addGroupIcn.png) left top no-repeat;
}
nav.menuTopbar ul li a.addGroup:hover {
	background: rgb(114,  205, 255) url(../images/addGroupIcn.png) left bottom no-repeat;
	color: rgb(57, 102, 128);
}
nav.menuTopbar ul li a.addSurvey {
	background: rgb(77,77,77) url(../images/addSurveyIcn.png) left top no-repeat;
}
nav.menuTopbar ul li a.addSurvey:hover {
	background: rgb(114,  205, 255) url(../images/addSurveyIcn.png) left bottom no-repeat;
	color: rgb(57, 102, 128);
}
nav.menuTopbar ul li a.stepBack {
	background: transparent url(../images/backIcn.png) left top no-repeat;
}
nav.menuTopbar ul li a.stepBack:hover {
	background: rgb(114,  205, 255) url(../images/backIcn.png) left bottom no-repeat;
	color: rgb(57, 102, 128);
}
/* Survey Asset
--------------------------------------------- */
ul.surveyBatch {
	position: relative;
	width: 100%;
}
li.aSurvey {
	position: relative;
	display: inline-block;
	float: left;
	margin: 5px 1.5% 10px 1.5%;
	padding: 0 0.5% 10px 0.5%;
	min-height: 210px;
	width: 21%;
	/* background: url(../images/surveySeperator.png) right center no-repeat; */
	background: transparent;
	font-size: 1.1em;
	opacity: 1;
	cursor: pointer;
	-webkit-transition: background 0.4s linear;
	-moz-transition: background 0.4s linear;
	-o-transition: background 0.4s linear;
	transition: background 0.4s linear;
}
li.aSurvey:hover {
	background: rgb(235,235,235);
	-webkit-box-shadow: 0px -1px 0px rgb(208,208,208), 0 1px 0px rgb(248,248,248);
	-moz-box-shadow: 0px -1px 0px rgb(208,208,208), 0 1px 0px rgb(248,248,248);
	box-shadow: 0px -1px 0px rgb(208,208,208), 0 1px 0px rgb(248,248,248);
	opacity: 1;
	-o-box-shadow: 0px -1px 0px rgb(208,208,208), 0 1px 0px rgb(248,248,248);
}
li.aSurvey:nth-child(4n+1), li.aSurvey.firstOfRow {
}
li.aSurvey:nth-child(4n), li.aSurvey.endOfRow {
	background-image: none;
}
li.aSurvey h2 {
	display: inline-block;
	overflow: hidden;
	margin: 5px 1% 0 2%;
	width: 97%;
	color: rgb(98,98,98);
	text-transform: capitalize;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.6em;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:-0.02em;
}
li.aSurvey:hover h2 {
	color: rgb(255,255,255);
}
ul.surveyInfo {
	position: relative;
	margin: 10px auto;
	padding: 0;
	width: 100%;
	height: 40px;
	border-top: thin dotted rgb(225,225,225);
	border-bottom: thin dotted rgb(225,225,225);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* background: rgb(240,240,240); */
	vertical-align: middle;
	text-transform: capitalize;
	-o-border-radius: 3px;
}
li.aSurvey:hover ul.surveyInfo {
	border-top: thin dotted rgb(255,255,255);
	border-bottom: thin dotted rgb(255,255,255);
}
ul.surveyInfo li {
	position: relative;
	display: inline-block;
	margin-top: 3px;
}
ul.surveyInfo li.dateCreated {
	float: left;
	overflow: hidden;
	margin-left: 2%;
	padding-top: 5px;
	width: 35%;
	height: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ul.surveyInfo li.dateCreated span {
	display: block;
	overflow: hidden;
	width: 100%;
	color: rgb(153, 153, 153);
	text-overflow: ellipsis;
	white-space: nowrap;
}
ul.surveyInfo li.responseNumber {
	float: right;
	margin-right: 3%;
	width: 60%;
	text-align: right;
}
ul.surveyInfo li.responseNumber span {
	display: inline-block;
	margin: 2px 0px 0 0;
	padding-top: 7px;
	width: 30px;
	height: 23px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: rgb(255,255,255);
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	-o-border-radius: 15px;
}
ul.surveyInfo li.responseNumber p {
	display: inline;
}
.waterPoint ul.surveyInfo li.responseNumber, li.aSurvey.waterPoint:hover h2 {
	color: rgb(57, 102, 128);	
}
.houseHold ul.surveyInfo li.responseNumber, li.aSurvey.houseHold:hover h2 {
	color: rgb(222, 137, 41);
}
.school ul.surveyInfo li.responseNumber, li.aSurvey.school:hover h2 {
	color: rgb(227, 27, 35);
}
.sanitationPoint ul.surveyInfo li.responseNumber, li.aSurvey.sanitationPoint:hover h2 {
	color: rgb(119, 97, 0);
}
.waterPoint ul.surveyInfo li.responseNumber span {
	background: rgb(57, 102, 128);	
}
.houseHold ul.surveyInfo li.responseNumber span {
	background: rgb(222, 137, 41);
}
.school ul.surveyInfo li.responseNumber span {
	background: rgb(227, 27, 35);
}
.sanitationPoint ul.surveyInfo li.responseNumber span {
	background: rgb(119, 97, 0);
}
.aSurvey dl {
	position: relative;
	display: block;
	margin: 5px auto;
	padding-bottom: 5px;
	width: 100%;
	border-bottom: thin dotted rgb(225,225,225);
}
.aSurvey:hover dl {
	border-bottom: thin dotted rgb(255,255,255);
}
.aSurvey dl dt, .aSurvey dl dd {
	display: inline-block;
	margin: 0 0 2px 0;
	vertical-align: top;
	line-height: 1.2em;
}
.aSurvey dl dt {
	overflow: hidden;
	padding: 2px 0 2px 2%;
	width: 25%;
	color: rgb(153, 153, 153);
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.2em;
}
.aSurvey dl dd {
	padding: 2px 0 2px 2%;
	width: 67%;
}
.waterPoint dl dd:nth-of-type(2) {
	color: rgb(57, 102, 128);	
}
.houseHold dl dd:nth-of-type(2) {
	color: rgb(222, 137, 41);
}
.school dl dd:nth-of-type(2) {
	color: rgb(227, 27, 35);
}
.sanitationPoint dl dd:nth-of-type(2) {
	color: rgb(119, 97, 0);
}
.aSurvey nav {
	position: relative;
	width: 100%;
	opacity: 0;
	-webkit-transition: opacity 0.4s linear;
	-moz-transition: opacity 0.4s linear;
	transition: opacity 0.4s linear;
}
.aSurvey:hover nav {
	background: rgb(158,158,158);
	opacity: 1;
}
.aSurvey nav ul {
	width: 100%;
}
.aSurvey nav ul li {
	display: inline;
	float: left;
	overflow: hidden;
	margin: 2px 1% 0 0;
	width: 49%;
	border-radius: 2px;
	/* background: url(../images/aSurveyNavSep.png) right center no-repeat; */
	background: rgb(235,235,235);
	text-overflow: ellipsis;
	white-space: nowrap;
}
.aSurvey nav ul li:hover {
	background: /*rgb(74,177,207)*/rgb(58,58,58);
}
.aSurvey nav ul li:nth-child(2n) {
	margin:2px 0 0 0;
	}

.aSurvey nav ul li a {
	display: block;
	overflow: hidden;
	padding: 2px 0 5px 25%;
	width: 75%;
	height: 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.aSurvey nav ul li a:hover {
	color: rgb(255,255,255);
}
.aSurvey nav ul li.editSurvey a {
	background: url(../images/editSurvey.png) 3px top no-repeat;
}
.aSurvey nav ul li.previewSurvey a {
	background: url(../images/previewSurvey.png) 3px top no-repeat;
}
.aSurvey nav ul li.deleteSurvey a {
	background: url(../images/deleteSurvey.png) 3px top no-repeat;
}
.aSurvey nav ul li.inspectData a {
	background: url(../images/inspectData.png) 3px top no-repeat;
}
.aSurvey nav ul li.editSurvey a:hover {
	background: url(../images/editSurvey.png) 3px bottom no-repeat;
}
.aSurvey nav ul li.previewSurvey a:hover {
	background: url(../images/previewSurvey.png) 3px bottom no-repeat;
}
.aSurvey nav ul li.deleteSurvey a:hover {
	background: url(../images/deleteSurvey.png) 3px bottom no-repeat;
}
.aSurvey nav ul li.inspectData a:hover {
	background: url(../images/inspectData.png) 3px bottom no-repeat;
}
/*----------------------------------------------------------------------------------------------------------------
										 Survey Creation & Editing
----------------------------------------------------------------------------------------------------------------*/
#newSurveyInfo h2 {
	display: block;
	overflow: hidden;
	margin: 5px 0 5px 3%;
	width: 97%;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.8em;
}
#newSurveyInfo form {
	position: relative;
	padding: 5px 2%;
}
#newSurveyInfo form label, #newSurveyInfo form input, #newSurveyInfo form textarea, #newSurveyInfo form select {
	display: block;
}
#newSurveyInfo form label {
	margin: 10px 2px 10px 2px;
	color: rgb(255,255,255);
}
#newSurveyInfo form label:first-child {
	margin: 0px 2px 10px 2px;
	color: rgb(255,255,255);
}
#newSurveyInfo form input {
	margin: 0 auto;
	padding: 5px 1.5%;
	width: 96%;
}
#newSurveyInfo form textarea {
	margin: 0 auto;
	padding: 10px 1.5%;
	width: 96%;
	font-size: 1.1em;
	font-family: sans-serif;
}
#newSurveyInfo form select {
	margin: 0 auto;
	padding: 2px 0 3px 5px;
	width: 100%;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #fff 0%, #ccc 100%); /* FF3.6+ */
	background: url(../images/selectArrows.png) right center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc)); /* Chrome,Safari4+ */
	background: url(../images/selectArrows.png) right center no-repeat, -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/selectArrows.png) right center no-repeat, -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Opera 11.10+ */
	background: url(../images/selectArrows.png) right center no-repeat, -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* IE10+ */
	background: url(../images/selectArrows.png) right center no-repeat, linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* W3C */
	background-image: url(../images/selectArrows.png) right center no-repeat;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0 ); /* IE6-8 */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
#newSurveyInfo form select option {
	padding: 0 1.5%;
	background: rgb(255,255,255);
}
.newSurveyInfoUl {
	margin: 20px 0;
	padding: 0;
	width: 100%;
}
.newSurveyInfoUl li {
	position: relative;
	margin: 1px auto;
	padding: 1px 1%;
	width: 85%;
	color: rgb(153,153,153);
}
.newSurveyInfoUl li > span {
	position: absolute;
	right: 50px;
	color: rgb(227, 27, 35);
	font-weight: bold;
}
.newSurveyInfoUl li > span#numberQuestionSet {
}
.newSurveyInfoUl li > span#numberQuestion {
}
.newSurveyInfoUl li:first-child {
	padding: 20px 5px;
	width: 90%;
	background: url(../images/sepHorDark.png) left top repeat-x;
	color: rgb(255,255,255);
}
nav.newSurveyNav {
	margin: 0 auto;
	padding: 0;
	width: 98%;
	height: 32px;
	background: rgb(79,79,79);
}
nav.newSurveyNav ul {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 32px;
	background: rgb(79,79,79);
}
nav.newSurveyNav ul li {
	display: block;
	float: left;
	margin-top: 1px;
	padding: 0;
	width: 33%;
	height: 30px;
	background: url(../images/topbarSeperator.png) right center no-repeat;
}
nav.newSurveyNav ul li:last-child {
	background: none;
}
nav.newSurveyNav ul li a {
	display: block;
	padding: 12px 0% 10px 40%;
	width: 60%;
	height: 8px;
}
nav.newSurveyNav li a:hover {
	color: rgb(255,255,255);
}
nav.newSurveyNav ul li a.saveNewSurvey {
	background: url(../images/saveNewSurvey.png) left top no-repeat;
}
nav.newSurveyNav ul li a.previewNewSurvey {
	background: url(../images/previewNewSurvey.png) left top no-repeat;
}
nav.newSurveyNav ul li a.publishNewSurvey {
	background: url(../images/publishNewSurvey.png) left top no-repeat;
}
nav.newSurveyNav ul li a.saveNewSurvey:hover {
	background: url(../images/saveNewSurvey.png) left bottom no-repeat;
}
nav.newSurveyNav ul li a.previewNewSurvey:hover {
	background: url(../images/previewNewSurvey.png) left bottom no-repeat;
}
nav.newSurveyNav ul li a.publishNewSurvey:hover {
	background: url(../images/publishNewSurvey.png) left bottom no-repeat;
}
/*****
		NEw Survey Settings
******---------------------------------------------------------------------------------*/
#surveySetting p {
	position: relative;
	width: 90%;
}
#surveySetting div#notifications {
	margin: 10px 0 0 0;
}
#surveySetting div#notifications h3 {
	font-size: 1.3em;
}
#surveySetting form input[type="checkbox"] {
	margin: 15px 0 0 5px;
}
#surveySetting select#surveyLang {
	margin: 0;
}
/*****
		A New Question Form
******---------------------------------------------------------------------------------*/

.aQuestionSet .questionSetContent {
	position: relative;
	display: block;
	margin: 0 0.75%;
	padding: 1.5em 0.75% 1em 0.75%;
	width: 97%;
}
.aQuestionSet .questionSetContent:before {
	display: block;
	margin: 0px auto 5px auto;
	width: 100%;
	border-top: 1px solid rgb(228, 228, 228);
	border-bottom: 1px solid rgb(255, 255, 255);
	content: "";
}
.aQuestionSet .questionSetContent a.addQuestion {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 10px 0 20px 5px;
	padding: 0.85em 0.5em 0.75em 35px;
	width: 15%;
	background: url(../images/insertQuestion.png) 10px center no-repeat;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.9em;
}
.aQuestionSet .questionSetContent a.addQuestion:hover {
	background: url(../images/insertQuestion.png) 10px center no-repeat;
}
.aQuestionSet .questionSetContent a.addQuestion:first-child {
	margin: 20px 0 20px 5px;
}
.aQuestionSet header {
	position: relative;
	display: block;
	margin: 0 0.75%;
	padding: 0 0.75% 0 0.75%;
	width: 97%;
	background: rgb(240,240,240);
}
.aQuestionSet > div > div.ember-view:first-child header {
}
.aQuestionSet > div > div.ember-view > div.questionGroupBlock {
	margin: 15px 0 ;
	border-top: thin solid rgb(230,230,230);
	border-bottom: thin solid rgb(230,230,230);
	background: rgb(240,240,240);
}
.aQuestionSet > div > div.ember-view:first-child {
	margin: 0 0 15px 0;
}


span.qtnGroupHead {
	display: block;
	padding-top: 5px;
	width: 100%;
	color: rgb(246, 160, 26);
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:1.1em;
}
.aQuestionSet header h1.qtnGroupTitle a {
	color: rgb(38, 8, 89);
}
.aQuestionSet header h1 + a.editSetInfo {
	position: relative;
	display: inline-block;
	margin: 0 0 0 10px;
	padding: 0.75em 0.5em 0.25em 17px;
	background: url(../images/editTinyIcon.png) left center no-repeat;
}
.aQuestionSet footer {
	position: relative;
	display: block;
	margin: 0 0.75%;
	padding: 5px 0.25%;
	width: 98%;
	background: rgb(179,179,179);
}
.aQuestionSet footer a.addSet {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0.25% 1% 0.25% auto;
	padding: 0.50em 0.5em 0.35em 25px;
	width: 7%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: rgb(235,235,235) url(../images/addSet.png) left center no-repeat;
	color: rgb(227, 27, 35);
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.1em;
}
.aQuestionSet footer a.addSet:hover {
	background: rgb(214,214,214) url(../images/addSet.png) left center no-repeat;
	color: rgb(227, 27, 35);
}
nav.groupActionMenu {
	display: block;
	padding:1.5em 0;
	margin: 5px auto;
	width: 100%;
	background:rgb(255,241,227);
}
nav.groupActionMenu ul {
	display:block;
	margin: 0 auto;
	position:relative;
	width:19%;
	text-align:center;
}
nav.moveMenu ul li, nav.copyMenu ul li {
	display: inline;
	margin: 0 10px 0 0;
	text-align: center;
}
nav.groupActionMenu  a.smallBtn {
	background:rgb(246, 160, 26);
	color:rgb(255,255,255);
	}
nav.groupActionMenu  a.smallBtn:hover {
	background:rgb(58,58,58);
	color:rgb(255,255,255);
	}

nav.groupActionMenu  a {
	color:rgb(246, 160, 26);
	}
nav.groupActionMenu  a:hover {
	color:rgb(58,58,58);
	}

/*---------------------------------------------------------------------------------
								A New Question Form
---------------------------------------------------------------------------------*/

.aQuestionSet .questionSetContent div.innerContent {
	position: relative;
	margin: 20px auto;
	padding: 15px 0.1%;
	width: 99.8%;
	border: thin solid rgb(224,224,224);
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
	background: rgb(248,248,248);/* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05); *//* -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.05); *//* box-shadow: 0 1px 1px rgba(0,0,0,0.05); */
	-o-border-radius: 0 0 5px 0;
}
.aQuestionSet .questionSetContent div.innerContent:focus {
}
.aQuestionSet header nav.qtnGroupMenu {
	position: absolute;
	top: 20px;
	right: 5px;
}
.aQuestionSet header nav.qtnGroupMenu ul {
	margin: 0;
	padding: 0;
	width: 100%;
}
.aQuestionSet header nav.qtnGroupMenu ul li {
	display: inline;
	float: left;
	margin: 0 30px 0 0;
	text-align: right;
}
.aQuestionSet header nav.qtnGroupMenu ul li a {
	display: block;
	padding: 5px;
	color: rgb(227, 27, 35);
	text-transform: uppercase;
}
.aQuestionSet header nav.qtnGroupMenu ul li a.showQuestionGroup {
	background:url(../images/shownCollapse.png) left top no-repeat;
	padding:5px 5px 5px 15px;
	width:95px;
	text-align:left;
}
.aQuestionSet header nav.qtnGroupMenu ul li a.showQuestionGroup.shown {
	background:url(../images/shownCollapse.png) left bottom no-repeat;
}

.aQuestionSet header nav.qtnGroupMenu ul li:last-child {
	margin: 0;
}
.aQuestionSet header nav.qtnGroupMenu ul li a:hover {
	text-decoration: underline;
}
.menuCentre {
	position: relative;
	display: inline-block;
	margin: 5px auto 10px auto;
	width: 100%;
}
.menuCentre ul {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}
.menuCentre ul li {
	display: inline;
	width: 20%;
	text-align: center;
}
.menuCentre ul li a {
	display: inline;
	padding: 6px 4%;
}
.innerContent nav {
	position: absolute;
	top: 1px;
	right: 1px;
	padding: 0.5em 0.1em 0.5em 0.5em;
	border-radius: 0 0 0 5px;
	background: rgb(230,230,230); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0 ); /* IE6-8 */
	box-shadow: -1px 1px 0 rgb(222,222,222);
}
.innerContent nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
}
.innerContent nav ul li {
	display: inline;
	float: right;
	margin: 0 0 0 0;
	padding: 0 0 0 5px;
	border-right: 1px solid rgb(208, 208, 208);
	border-left: 1px solid rgb(245, 245, 245);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: right;
	background:transparent;
	transition:background 0.4s ease-in;
}
.innerContent nav ul li:first-child {
	border-right: none;
}
.innerContent nav ul li:last-child {
	border-left: none;
}
.innerContent nav ul li:hover {
	background:rgb(224,224,224);
}

.innerContent nav ul li a {
	display: block;
	padding: 5px 10px 5px 20px;
	height: 10px;
}
nav ul li a.editQuestion {
	background: url(../images/editQuestion.png) left top no-repeat;
}
nav ul li a.deleteQuestion {
	background: url(../images/deleteQuestion.png) left top no-repeat;
}
nav ul li a.moveQuestion {
	background: url(../images/moveQuestion.png) left top no-repeat;
}
nav ul li a.copyQuestion {
	background: url(../images/duplicateQuestion.png) left top no-repeat;
}
nav ul li a.showQuestion {
	background: url(../images/showQuestion.png) left top no-repeat;
}
nav ul li a.editQuestion:hover {
	background: url(../images/editQuestion.png) left bottom no-repeat;
}
nav ul li a.deleteQuestion:hover {
	background: url(../images/deleteQuestion.png) left bottom no-repeat;
}
nav ul li a.moveQuestion:hover {
	background: url(../images/moveQuestion.png) left bottom no-repeat;
}
nav ul li a.copyQuestion:hover {
	background: url(../images/duplicateQuestion.png) left bottom no-repeat;
}
nav ul li a.showQuestion:hover {
	background: url(../images/showQuestion.png) left bottom no-repeat;
}
.innerContent h1 {
	display: block;
	margin: 20px 0 0 5px;
	color: rgb(0,0,0);
	font-weight: bold;
	font-size: 1.5em;
}
.innerContent h1.questionNbr {
	display: inline;
	color: rgb(0,0,0);
	font-weight: normal;
}
.innerContent h1.questionNbr span {
	display: inline-block;
	margin: -10px 5px 0 0;
	padding: 1px 0 0 5px;
	width: 20px;
	height: 24px;
	border-radius: 12.5px;
	background: rgb(0,0,0);
	color: rgb(255,255,255);
	font-weight: bold;
	font-size: 0.9em;
}
.innerContent label, .innerContent input, .innerContent select {
	display: block;
}
.innerContent label {
	margin: 15px 0 0 5px;
	color: rgb(39,94,110);
	font-size: 1em;
}
.innerContent input[type=text] {
	margin: 5px 0 0 5px;
	padding: 5px 1%;
	width: 96%;
	border-color: rgb(235,235,235);
}
/* Addition MTW added optiontype to input fields for options, to make them smaller */
.innerContent .optiontype input[type=text] {
	display: inline;
	margin: 5px 0 0 5px;
	padding: 5px 1%;
	width: 35%;
	border-color: rgb(235,235,235);
}
/* end addition MTW */

.innerContent select {
	margin: 5px 0 0 5px;
	padding: 2px 0 3px 5px;
	width: 30%;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #fff 0%, #ccc 100%); /* FF3.6+ */
	background: url(../images/selectArrows.png) right center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc)); /* Chrome,Safari4+ */
	background: url(../images/selectArrows.png) right center no-repeat, -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/selectArrows.png) right center no-repeat, -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Opera 11.10+ */
	background: url(../images/selectArrows.png) right center no-repeat, -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* IE10+ */
	background: url(../images/selectArrows.png) right center no-repeat, linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* W3C */
	background-image: url(../images/selectArrows.png) right center no-repeat;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0 ); /* IE6-8 */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
.innerContent input[type=checkbox] {
	display: inline-block;
	margin: 5px 0 0 5px;
	padding: 5px 0.5%;
	border-color: rgb(235,235,235);
}
.innerContent input[type=checkbox]:first-child {
	margin: 15px 0 0 5px;
}
/* MTW added labelcheckbox class to checkbox labels, to decrease vertical spacing */
.innerContent .labelcheckbox input[type=checkbox]:first-child {
	margin: 0px 0 0 5px;
}
/* end MTW adddition */

.innerContent p {
	margin: 0 0 0 5px;
	padding: 3px 0.5%;
}
/* change MTW: added width:35% */
.innerContent textarea {
	margin: 5px 0 0 10px;
	width: 35%;
	border-color: white;
}
/****** Data Page
****************************************************************************/
#dataFilter {
	margin: 1px auto 0 auto;
	padding: 15px 5px;
	border-bottom: thin dotted rgb(225,225,225);
	background: rgb(255,255,255) url(../images/dataPointing.png) right center no-repeat;
}
#dataFilter h3 {
	margin: 0 0 5px 5px;
	color: #666;
	letter-spacing: -0.05em;
	font-weight: bold;
	font-size: 1.8em;
}
#dataFilter input {
	height: 20px;
	border-color: transparent;
	background: url(../images/icon_cal.png) right center no-repeat;
}
#dataFilter label[for="fromDate"], #dataFilter label[for="toDate"] {
	display: inline;
}
#dataFilter label[for="fromDate"] {
	margin-left: 15px;
}
#dataFilter img.ui-datepicker-trigger {
	display: inline;
	margin-top: 4px;
}
.dataTables_wrapper {
	margin: 0px auto 1px auto;
	background: rgb(235,235,235);
}
.dataTables_length {
	display: inline-block;
	padding: 10px 5px 12px 5px;
}
.dataTables_length select {
	padding: 0;
	padding: 0 8px 0 0;
}
.dataTables_filter {
	display: inline-block;
	margin-left: 70px;
	padding: 10px 5px 12px 5px;
}
.dataTables_filter input {
	border-color: transparent;
}
.dataTables_info {
	display: block;
	margin: 5px auto;
	width: 20%;
	text-align: center;
	letter-spacing: -0.03em;
	font-size: 1.1em;
}
.dataTables_paginate {
	position: relative;
	display: block;
	margin: 5px auto 0 auto;
	width: 12%;
	text-align: center;
}
.dataTables_paginate a {
	position: relative;
	display: block;
	padding: 5px 10px;
	color: rgb(107, 134, 141);
	font-size: 1.1em;
	cursor: pointer;
}
.dataTables_paginate a.paginate_disabled_previous, .dataTables_paginate a.paginate_disabled_next {
	position: relative;
	display: block;
	padding: 5px 10px;
	color: rgb(184,184,184);
	cursor: text;
}
.dataTables_paginate a.paginate_disabled_previous:hover, .dataTables_paginate a.paginate_disabled_next:hover {
	color: rgb(184,184,184);
}
.dataTables_paginate a.paginate_disabled_previous, .dataTables_paginate a.paginate_enabled_previous {
	float: left;
}
.dataTables_paginate a.paginate_disabled_next, .dataTables_paginate a.paginate_enabled_next {
	float: right;
}
.dataSection label {
	font-weight: normal;
	font-size: 1em;
}
