/*
Title:		Screen styles and ie/win patches for akvo.org flow Dashboard
Author: 	loic@akvo.org
*/

/* import stylesheets and hide from ie/mac \*/
@import url("main.css");
@import url("form.css");
@import url("custom-theme/jquery-ui-1.8.21.custom.css");
/* end import/hide 