# Globally ignored files
.DS_Store
.classpath
.project
.settings
*.rpc
*.class
.gwt-log
*.swp

# Specific paths

Dashboard/app/test.html
Dashboard/assets*
Dashboard/tmp*
Dashboard/test_assets*

GAE/build.properties
GAE/src/org/waterforpeople/mapping/app/gwt/client/util/UploadConstants.properties
GAE/war/WEB-INF/*.jks
GAE/war/WEB-INF/appengine-web.xml
GAE/war/WEB-INF/classes
GAE/war/org.*
GAE/war/WEB-INF/appengine-generated/*
GAE/war/WEB-INF/lib/appengine*
GAE/war/WEB-INF/lib/datanucleus*
GAE/war/WEB-INF/lib/geronimo*
GAE/war/WEB-INF/lib/jdo2-api*
GAE/war/WEB-INF/lib/jsr107*

WFPMapping/device/debugcert
WFPMapping/device/survey/res/raw/survey.properties
WFPMapping/device/survey_test/bin/*
WFPMapping/device/survey/bin/*
WFPMapping/device/calabash/.calabash_settings
WFPMapping/device/survey/gen/com/gallatinsystems/survey/device/BuildConfig.java

WFPMapping/device/survey_test/src/com/jayway/test/SurveyDataTest.java
deploy
gwt-unitcache

Dashboard/app/js/lib/models/store_def.js
