GAE/war/WEB-INF/*.jks
WFPMapping/device/debugcert
WFPMapping/device/survey/res/raw/survey.properties
GAE/war/WEB-INF/appengine-web.xml
GAE/build.properties
GAE/src/org/waterforpeople/mapping/app/gwt/client/util/UploadConstants.properties
GAE/.project
GAE/.settings
GAE/.classpath
WFPMapping/device/survey/.project
WFPMapping/device/survey/.settings
WFPMapping/device/survey/.classpath
WFPMapping/device/launcher/.project
WFPMapping/device/launcher/.settings
WFPMapping/device/launcher/.classpath
