version: "3"
services:
  mainnetwork:
    image: alpine
    command: tail -f /dev/null
    links:
     - s3:akvoflowsandbox.s3.amazonaws.com
    ports:
     - 8888:8888
     - 5005:5005
  fake-flow-services:
    image: solsson/http-echo
    network_mode: service:mainnetwork
    environment:
      - PORT=3000
  s3:
    image:  technekes/fake-s3-ssl:latest
  akvo-flow:
    build: .
    entrypoint: /app/src/ci/run-as-user.sh
    network_mode: service:mainnetwork
    command: /app/src/ci/devserver.sh
    working_dir: /app/src
    volumes:
     - .:/app/src/:delegated
     - ~/.m2:/home/akvo/.m2:delegated
     - ~/.m2:/root/.m2:delegated
