<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>WaterForPeopleMappingGoogle</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.WaterForPeopleMappingGoogleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WaterForPeopleMappingGoogle</servlet-name>
		<url-pattern>/webapp/waterforpeoplemappinggoogle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Processor</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.ProcessorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Processor</servlet-name>
		<url-pattern>/processor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Task</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.TaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Task</servlet-name>
		<url-pattern>/app_worker/task</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SurveyManager</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.SurveyManagerServlet</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>SurveyManager</servlet-name>
		<url-pattern>/surveymanager</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ImageProcessor</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.ImageProcessorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageProcessor</servlet-name>
		<url-pattern>/webapp/imageprocessor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeviceManager</servlet-name>
		<servlet-class>com.gallatinsystems.device.app.web.DeviceManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceManager</servlet-name>
		<url-pattern>/webapp/devicemanager</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SurveyGroupManager</servlet-name>
		<servlet-class>com.gallatinsystems.survey.app.web.SurveyGroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SurveyGroupManager</servlet-name>
		<url-pattern>/webapp/surveygroupmanager</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestHarness</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.TestHarnessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestHarness</servlet-name>
		<url-pattern>/webapp/testharness</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.gallatinsystems.device.app.service.GreetingServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/webapp/greet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MapingSummarization</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.MappingSummarizationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MapingSummarization</servlet-name>
		<url-pattern>/webapp/mapping/summary</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>surveyGroupServlet</servlet-name>
		<servlet-class>com.gallatinsystems.survey.app.web.SurveyGroupServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>surveyGroupServlet</servlet-name>
		<url-pattern>/surveygroup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SpreadsheetProcessor</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.SpreadsheetProcessorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpreadsheetProcessor</servlet-name>
		<url-pattern>/webapp/spreadsheetprocessor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SurveyRpcServlet</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.gwt.server.survey.SurveyServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SurveyRpcServlet</servlet-name>
		<url-pattern>org.waterforpeople.mapping.portal.portal/surveyrpcservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeviceRpcServlet</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.gwt.server.device.DeviceServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceRpcServlet</servlet-name>
		<url-pattern>org.waterforpeople.mapping.portal.portal/devicerpcservice</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>SpreadsheetAttributeMapper</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.service.SpreadsheetMappingAttributeServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpreadsheetAttributeMapper</servlet-name>
		<url-pattern>/webapp/spreadsheetattributemapper</url-pattern>
	</servlet-mapping>	
	
		<security-constraint>
		<web-resource-collection>
			<url-pattern>/Dashboard.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>	
	
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/webapp/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>		
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>