<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param>
        <param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/webapp-context.xml /WEB-INF/webapp-security.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/rest/*</url-pattern>
        <url-pattern>/api/v1/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>multiReadFilter</filter-name>
        <filter-class>com.gallatinsystems.framework.servlet.MultiReadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>multiReadFilter</filter-name>
        <url-pattern>/rest/survey_groups/*</url-pattern>
        <url-pattern>/rest/surveys/*</url-pattern>
    </filter-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>DeviceApplicationRestService</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.DeviceApplicationRestService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceApplicationRestService</servlet-name>
		<url-pattern>/deviceapprest</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>DeviceTimeRestService</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.DeviceTimeRestService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceTimeRestService</servlet-name>
		<url-pattern>/devicetimerest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CurrentUserServlet</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.CurrentUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CurrentUserServlet</servlet-name>
		<url-pattern>/currentuser.js</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EnvServlet</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.EnvServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnvServlet</servlet-name>
		<url-pattern>/flowenv.js</url-pattern>
	</servlet-mapping>
		<servlet>

	<servlet-name>ApkRedirectServlet</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.ApkRedirectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApkRedirectServlet</servlet-name>
		<url-pattern>/app</url-pattern>
		<url-pattern>/app2</url-pattern>
		<url-pattern>/gps</url-pattern>
	</servlet-mapping>

	<servlet>
        <servlet-name>StringsServlet</servlet-name>
        <servlet-class>org.waterforpeople.mapping.app.web.StringsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StringsServlet</servlet-name>
        <url-pattern>/ui-strings.js</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>org.waterforpeople.mapping.app.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/admin/logout.html</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>StartupServlet</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.StartupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartupServlet</servlet-name>
		<url-pattern>/_ah/start</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WaterForPeopleMappingGoogle</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.WaterForPeopleMappingGoogleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WaterForPeopleMappingGoogle</servlet-name>
		<url-pattern>/webapp/waterforpeoplemappinggoogle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CronCommanderServlet</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.CronCommanderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CronCommanderServlet</servlet-name>
		<url-pattern>/cron/croncommander</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ScoreProcessor</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.ScoreProcessor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScoreProcessor</servlet-name>
		<url-pattern>/app_worker/scoreprocessor</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LocationBeacon</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.LocationBeaconServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LocationBeacon</servlet-name>
		<url-pattern>/locationBeacon</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Processor</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.ProcessorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Processor</servlet-name>
		<url-pattern>/processor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BootstrapGenerator</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.BootstrapGeneratorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BootstrapGenerator</servlet-name>
		<url-pattern>/app_worker/bootstrapgen</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DataProcessorServlet</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.DataProcessorRestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataProcessorServlet</servlet-name>
		<url-pattern>/app_worker/dataprocessor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SurveyInstanceServlet</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.SurveyInstanceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SurveyInstanceServlet</servlet-name>
		<url-pattern>/surveyinstance</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SurveyalServlet</servlet-name>
		<servlet-class>com.gallatinsystems.surveyal.app.web.SurveyalRestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SurveyalServlet</servlet-name>
		<url-pattern>/app_worker/surveyalservlet</url-pattern>
	</servlet-mapping>
	   <servlet>
        <servlet-name>SurveyedLocaleServlet</servlet-name>
        <servlet-class>org.waterforpeople.mapping.app.web.SurveyedLocaleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SurveyedLocaleServlet</servlet-name>
        <url-pattern>/surveyedlocale</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>Task</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.TaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Task</servlet-name>
		<url-pattern>/app_worker/task</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteObjectTask</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.DeleteObjectTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteObjectTask</servlet-name>
		<url-pattern>/app_worker/deleteobjecttask</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProcessAccessPointTaskServlet</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.ProcessAccessPointTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessAccessPointTaskServlet</servlet-name>
		<url-pattern>/app_worker/processaccesspointtaskservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessPointMetricProcessor</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.AccessPointMetricProcessor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessPointMetricProcessor</servlet-name>
		<url-pattern>/app_worker/accesspointmetricprocessor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SurveyTask</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.SurveyTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SurveyTask</servlet-name>
		<url-pattern>/app_worker/surveytask</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>QuestionAnswerStoreCleanup</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.QuestionAnswerStoreCleanup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionAnswerStoreCleanup</servlet-name>
		<url-pattern>/app_worker/questionanswerstorecleanup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ImageCheckTask</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.ImageCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageCheckTask</servlet-name>
		<url-pattern>/app_worker/imagecheck</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SurveyEvent</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.SurveyEventHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SurveyEvent</servlet-name>
		<url-pattern>/app_worker/surveyevent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SurveyAssembly</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.SurveyAssemblyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SurveyAssembly</servlet-name>
		<url-pattern>/app_worker/surveyassembly</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SurveyManager</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.SurveyManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SurveyManager</servlet-name>
		<url-pattern>/surveymanager</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ImageProcessor</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.ImageProcessorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageProcessor</servlet-name>
		<url-pattern>/webapp/imageprocessor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeviceManager</servlet-name>
		<servlet-class>com.gallatinsystems.device.app.web.DeviceManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceManager</servlet-name>
		<url-pattern>/webapp/devicemanager</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestHarness</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.TestHarnessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestHarness</servlet-name>
		<url-pattern>/webapp/testharness</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>PublishSurvey</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.PublishSurveyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublishSurvey</servlet-name>
		<url-pattern>/publishsurvey</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SMSServlet</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.SMSReceiverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SMSServlet</servlet-name>
		<url-pattern>/smsreceiver</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PointOfInterestServlet</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.PointOfInterestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PointOfInterestServlet</servlet-name>
		<url-pattern>/pointofinterest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoteExceptionServlet</servlet-name>
		<servlet-class>com.gallatinsystems.diagnostics.app.web.RemoteExceptionRestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoteExceptionServlet</servlet-name>
		<url-pattern>/remoteexception</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RemoteLogging</servlet-name>
		<servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoteLogging</servlet-name>
		<url-pattern>/org.waterforpeople.mapping.portal.portal/remote_logging</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NotificationProcessor</servlet-name>
		<servlet-class>org.waterforpeople.mapping.notification.MappingNotificationProcessor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotificationProcessor</servlet-name>
		<url-pattern>/notificationprocessor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MapingSummarization</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.MappingSummarizationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MapingSummarization</servlet-name>
		<url-pattern>/webapp/mapping/summary</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SurveyRpcServlet</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.gwt.server.survey.SurveyServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SurveyRpcServlet</servlet-name>
		<url-pattern>/org.waterforpeople.mapping.portal.portal/surveyrpcservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SurveyRpcServlet</servlet-name>
		<url-pattern>/org.waterforpeople.mapping.surveyentry.surveyentry/surveyrpcservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DataSummarization</servlet-name>
		<servlet-class>org.waterforpeople.mapping.analytics.SurveyDataSummarizationHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataSummarization</servlet-name>
		<url-pattern>/app_worker/datasummarization</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DataUpdate</servlet-name>
		<servlet-class>org.waterforpeople.mapping.analytics.SurveyDataUpdateHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataUpdate</servlet-name>
		<url-pattern>/app_worker/dataupdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthSub</servlet-name>
		<servlet-class>com.gallatinsystems.security.authorization.app.web.AuthenticationSubscriptionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthSub</servlet-name>
		<url-pattern>/authsub</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PhotoUpload</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.PhotoUpload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoUpload</servlet-name>
		<url-pattern>/webapp/photoupload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SurveyRestApi</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.SurveyRestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SurveyRestApi</servlet-name>
		<url-pattern>/surveyrestapi</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeviceFilesRestApi</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.DeviceFileRestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceFilesRestApi</servlet-name>
		<url-pattern>/devicefilesrestapi</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeviceNotificationRestApi</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.DeviceNotificationRestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceNotificationRestApi</servlet-name>
		<url-pattern>/devicenotification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PlacemarkRestApi</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.PlacemarkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlacemarkRestApi</servlet-name>
		<url-pattern>/placemarkrestapi</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GeoRestApi</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.GeoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeoRestApi</servlet-name>
		<url-pattern>/georestapi</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExternalGISDataRestApi</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.ExternalGISDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExternalGISDataRestApi</servlet-name>
		<url-pattern>/externalgisdatarestapi</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DataBackoutApi</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.DataBackoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RawDataRestApi</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.RawDataRestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RawDataRestApi</servlet-name>
		<url-pattern>/rawdatarestapi</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MapAssembly</servlet-name>
		<servlet-class>org.waterforpeople.mapping.app.web.MapAssemblyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MapAssembly</servlet-name>
		<url-pattern>/app_worker/mapassembly</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataBackoutApi</servlet-name>
		<url-pattern>/databackout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoteApi</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoteApi</servlet-name>
		<url-pattern>/remote_api</url-pattern>
		<url-pattern>/traced_remote_api/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>persistenceFilter</filter-name>
		<filter-class>com.gallatinsystems.framework.servlet.PersistenceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>persistenceFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>restAuthFilter</filter-name>
		<filter-class>com.gallatinsystems.framework.servlet.RestAuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>restAuthFilter</filter-name>
		<url-pattern>/databackout</url-pattern>
	</filter-mapping>
	<filter-mapping>
    <filter-name>restAuthFilter</filter-name>
    <url-pattern>/surveyedlocale</url-pattern>
</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthFilter</filter-name>
		<url-pattern>/surveyrestapi</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>restAuthFilter</filter-name>
		<url-pattern>/rawdatarestapi</url-pattern>
	</filter-mapping>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/devicetimerest</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/SecureSurveyEntry.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/Dashboard.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/webapp/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>
