<h1>Users who can access this instance</h1>
<div class="greyBg">
<p>Please see pdf design in mockup folder:</p>
	<p>We need a select input to choose how many people you want to display on one page.</p>
	<p>We also need a search input that would filter the data below to match what is typed in.</p>
 <a href="#" class="standardBtn">Add new user</a>
  <section id="usersList" class="fullWidth "> 
  	
    <!-- userS TABLE-->
    <table id="usersListTable" class="dataTable" >
      <!-- TABLE HEADER-->
      <thead>
        <tr>
          <th class="userName">user Name</th>
          <th class="emailAdr">Email Address</th>
          <th class="permLevel">Permission Level <a href="#" title="There are three permission levels: user, Project Editor and Administrator. Read more on the FLOW documentation site, or contact your Administrator for details.
" class="tooltip helpIcon">more info</a></th>
          <th class="action">Actions</th>
        </tr>
      </thead>
      <!-- TABLE BODY: MAIN CONTENT-->
      <tbody>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Thomas Bjelkeman Pettersson</td>
          <td class="emailAdr">Thomas.Bjelkeman.Pettersson@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Luuk Diphoorn</td>
          <td class="emailAdr">LuukDiphoorn@akvo.org</td>
          <td class="permLevel ProjectEditor">Project Editor</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Henry Jewell</td>
          <td class="emailAdr">HenryJewell@akvo.org</td>
          <td class="permLevel permUser">user</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Loic Sans</td>
          <td class="emailAdr">loic@akvo.org</td>
          <td class="permLevel permUser">user</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Luuk Diphoorn</td>
          <td class="emailAdr">LuukDiphoorn@akvo.org</td>
          <td class="permLevel ProjectEditor">Project Editor</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Caetie Ofiesh</td>
          <td class="emailAdr">CaetieOfiesh@akvo.org</td>
          <td class="permLevel permUser">user</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Stellan Lagerstrom</td>
          <td class="emailAdr">StellanLagerstrom@akvo.org</td>
          <td class="permLevel permUser">user</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Amitangshu Acharya</td>
          <td class="emailAdr">amit@akvo.org</td>
          <td class="permLevel ProjectEditor">Project Editor</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Jeroen Van Den Sommen</td>
          <td class="emailAdr">JeroenVanDenSommen@akvo.org</td>
          <td class="permLevel permUser">user</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Ivan Perdomo</td>
          <td class="emailAdr">ivan@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Daniel Karlsson</td>
          <td class="emailAdr">daniel@akvo.org</td>
          <td class="permLevel permUser">user</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
      </tbody>
      
      <!-- TABLE FOOTER-->
      <tfoot>
        <tr>
          <td colspan="7"><small>This is the footer.</small></td>
        </tr>
      </tfoot>
    </table>
  </section>
</div>
