<div class="greyBg">
  <h1>Users</h1>
  <section id="devicesList" class="fullWidth "> 
    <!-- DEVICES TABLE-->
    <table id="usersListTable" class="dataTable" >
      <!-- TABLE HEADER-->
      <thead>
        <tr>
          <th>User Name</th>
          <th>Email Address</th>
          <th>Permission Level <a href="#" title="Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur." class="tooltip helpIcon">more info</a></th>
          <th>Actions</th>
        </tr>
      </thead>
      <!-- TABLE BODY: MAIN CONTENT-->
      <tbody>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
        <tr>
          <td class="userName">Mark Westra</td>
          <td class="emailAdr">mtw@akvo.org</td>
          <td class="permLevel admin">Administrator</td>
          <td class="action"><a href="#" class="remove">remove</a><a href="#" class="edit">edit</a></td>
        </tr>
      </tbody>
      
      <!-- TABLE FOOTER-->
      <tfoot>
        <tr>
          <td colspan="7"><small>This is the footer.</small></td>
        </tr>
      </tfoot>
    </table>
  </section>
</div>
