<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.gallatinsystems.survey.device" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/wfplogo"
		android:label="@string/app_name" android:debuggable="true">
		
		<activity android:name=".activity.SurveyHomeActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.SurveyViewActivity" />
		<activity android:name=".activity.ListUserActivity" />
		<activity android:name=".activity.UserEditActivity" />
		<activity android:name=".activity.SettingsActivity" />
		<activity android:name=".activity.ListPlotActivity" />
		<activity android:name=".activity.PlotEditActivity" />
		<activity android:name=".activity.RegionPlotActivity" />
		<activity android:name=".activity.PreferencesActivity" />
		<activity android:name=".activity.ImageBrowserActivity" />
		<activity android:name=".activity.NearbyItemActivity"/>
		<activity android:name=".activity.NearbyItemDetailActivity"/>
		<activity android:name=".activity.SurveyReviewActivity"/>
		<activity android:name=".activity.WaterflowCalculatorActivity"/>
		<activity android:name=".activity.PointOfInterestMapActivity"/>
		<activity android:name=".activity.TransmissionHistoryActivity"/>

		<service android:name=".service.DataSyncService" />
		<service android:name=".service.SurveyDownloadService" />
		<service android:name=".service.RegionPlotService" />
		<service android:name=".service.LocationService" />
		<service android:name=".service.GeoTrackService" />
		<service android:name=".service.PrecacheService" />
		<service android:name=".service.BootstrapService" />
		<service android:name=".service.ExceptionReportingService" />

		<receiver android:name=".broadcast.BroadcastDispatcher" >
			<intent-filter>
				<action android:name="com.gallatinsystems.survey.device.PRECACHE" />
				<action android:name="com.gallatinsystems.survey.device.DATA_SUBMITTED" />
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
			</intent-filter>
		</receiver>
		
		<uses-library android:name="com.google.android.maps" />
	</application>

	<uses-sdk android:minSdkVersion="6" />

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-feature android:name="android.hardware.camera" />

</manifest> 