@import "../../../variables.scss";

.custom-select-container {
  position: relative;
  .custom-select {
    position: absolute;
    z-index: 2;
    border: 1px solid $grey;
    padding: 8px 10px;
    transition: all ease-out 0.3s;

    .custom-select-trigger {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all ease-out 0.3s;
      height: 20px;
    }
  }

  &,
  .custom-select,
  .option-button,
  .trigger-open-text {
    background-color: #ffffff;
    width: 100%;
  }

  .option-button,
  .trigger-open-text {
    border: none;
    cursor: pointer;
  }

  .custom-select-trigger,
  .trigger-open-text,
  .option-button {
    padding: 0;
    background-color: unset;
    font-size: 18px;
    line-height: 24px;
    color: $orange;
  }

  .option-button {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    color: $grey;
  }
  svg {
    width: 100%;
    transition: all ease-out 0.3s;
  }
  .trigger-open-text {
    padding-left: 0;
    padding-right: 0;
    & + svg {
      transform: rotate(180deg);
    }
  }

  .open-select {
    overflow: visible;
    transition: all ease-out 0.3s;
  }
}
