<section class="topBar">
    <div id="tabs">
        <nav class="tabNav floats-in">
        	{{view FLOW.ResourcesSubnavView controllerBinding="controller.controllers.resourcesSubnavController"}}
        </nav>
    </div>
</section>
<section class="resourcesSection floats-in belowHeader" id="main" role="main">
    {{outlet}}
</section>
