<section class="reportsSection floats-in middleSection" id="main" role="main">
    <div id="tabs">
        <nav class="tabNav floats-in">
            {{view FLOW.ReportsSubnavView controllerBinding="controller.controllers.reportsSubnavController"}}
        </nav>
        {{outlet}}
    </div>
</section>