<section class="topBar">
    <div id="tabs">
        <nav class="tabNav floats-in">
        	{{view FLOW.ReportsSubnavView controllerBinding="controller.controllers.reportsSubnavController"}}
        </nav>    
    </div>
</section>    
<section class="reportsSection floats-in belowHeader" id="main" role="main">
    {{outlet}}
</section>
