<ul>
    {{#view view.NavItemView item="exportReports" }}
    	<a {{action doExportReports}}>{{t _export_reports}}</a>
    {{/view}} 
    {{#view view.NavItemView item="chartReports" }}
      <a {{action doChartReports}}>{{t _charts}}</a>
    {{/view}} 
</ul>
