s3Id = $awsIdentifier
#NOTE: the S3 policies expire on 10/2/2013
##
##$instanceName
dataS3Policy = $deviceZipS3Policy
dataS3Sig = $deviceZipS3Sig
imageS3Policy = $imagesS3Policy
imageS3Sig = $imagesS3Sig
dataUploadUrl = $s3Url
serverBase = $serverBase
surveyS3Url = $s3Url/surveys/
useInternalStorage = false
includeOptionalIcons = true
promptOnOptionChange = false