<section class="fullWidth" id="assignSurveys">
	<h1>Create a new assignment</h1>
    <div class="">
       <form>
          <fieldset id="assignmentDetails" class="stepNumber">
            <h2>Assignment Details</h2>
            <label for="assignmentName">Assignment Name:</label>
            <input type="text" id="assignmentName" name="assignmentName" title="Enter a name for this assignment" placeholder="Enter a name for this assignment" autofocus required />
            <div class="dateRange">
				<div class="activeDate">
					 <label for="startDate">Start Date:</label>
					 <input type="text" id="startDate" class="datePicker" name="startDate">
				</div>
				<div class="expireDate">
					 <label for="endDate">Expiration Date:</label>
					 <input type="text" id="startDate" class="datePicker" name="startDate">
				</div>
		    </div>
          </fieldset>
		  <div class="fieldSetWrap">
          <fieldset id="surveySelect" class="stepNumber">
            <h2>Select Survey:</h2>
                <div class="">
                <label for="surveyGroup">Select Survey Group:</label>
                <select id="surveyGroup">
                  <option value="Survey Group 01">Survey Group 01</option>
                  <option value="Survey Group 02">Survey Group 02</option>
                  <option value="Survey Group 03">Survey Group 03</option>
                  <option value="Survey Group 04">Survey Group 04</option>
                  <option value="Survey Group 05">Survey Group 05</option>
                  <option value="Survey Group 06">Survey Group 06</option>
                  <option value="Survey Group 07">Survey Group 07</option>
                  <option value="Survey Group 08">Survey Group 08</option>
                  <option value="Survey Group 09">Survey Group 09</option>
                  <option value="Survey Group 10">Survey Group 10</option>
                </select>
                </div>
                <div class="">
				<nav>
					<ul>
						<li><a href="#">Select All</a></li>
						<li><a href="#">Deselect All</a></li>
					</ul>
				</nav>
                <label for="surveys">Select Surveys:</label>
                <select multiple="multiple"  id="surveys" size="10">
                  <option value="Survey 01" selected="selected">Survey 01</option>
                  <option value="Survey 02">Survey 02</option>
                  <option value="Survey 03">Survey 03</option>
                  <option value="Survey 04">Survey 04</option>
                  <option value="Survey 05">Survey 05</option>
                  <option value="Survey 06">Survey 06</option>
                  <option value="Survey 07">Survey 07</option>
                  <option value="Survey 08">Survey 08</option>
                </select>
                </div>
          </fieldset>    
 		<fieldset id="surveyPreview" class="formLeftPanel">
            <h2>Preview Survey Selection:</h2>
                <div class="">
                <label for="surveys">Select Surveys:</label>
                <select multiple="multiple"  id="surveys"  size="10">
                  <option value="Survey 01">Survey 01</option>
                  <option value="Survey 02">Survey 02</option>
                  <option value="Survey 03">Survey 03</option>
                  <option value="Survey 04">Survey 04</option>
                  <option value="Survey 05">Survey 05</option>
                  <option value="Survey 06">Survey 06</option>
                  <option value="Survey 07">Survey 07</option>
                  <option value="Survey 08">Survey 08</option>
                </select>
                </div>
          </fieldset>    
          		  
		  </div>
		  
          <fieldset id="devicesSelect" class="stepNumber">
            <h2>Select Devices:</h2>
                <div class="halfWidth">
                <label for="deviceGroup">Select Device Group:</label>
                <select id="deviceGroup">
                  <option value="SDevice Group 01">Device Group 01</option>
                  <option value="Device Group 02">Device Group 02</option>
                  <option value="Device Group 03">Device Group 03</option>
                  <option value="Device Group 04">Device Group 04</option>
                  <option value="Device Group 05">Device Group 05</option>
                  <option value="Device Group 06">Device Group 06</option>
                  <option value="Device Group 07">Device Group 07</option>
                  <option value="Device Group 08">Device Group 08</option>
                  <option value="Device Group 09">Device Group 09</option>
                  <option value="Device Group 10">Device Group 10</option>
                </select>
                </div>
                <div class="halfWidth">
                <label for="Devices">Select Devices <span>(old ctrl to select multiple)</span>:</label>
                <select multiple="multiple" id="Devices">
                  <option value="Device 01">Device 01</option>
                  <option value="Device 02">Device 02</option>
                  <option value="Device 03">Device 03</option>
                  <option value="Device 04">Device 04</option>
                  <option value="Device 05">Device 05</option>
                  <option value="Device 06">Device 06</option>
                  <option value="Device 07">Device 07</option>
                  <option value="Device 08">Device 08</option>
                </select>
                </div>
          </fieldset>
          <div class="menuConfirm">
            <ul>
                <li><a href="#" class="standardBtn">Save Assignment</a></li>
                <li><a href="#" class="">Cancel</a></li>
            </ul>
          </div>
        </form>
    </div>  
</section>