<ul>
    {{#view view.NavItemView item="currentDevices" }}
    	<a {{action doCurrentDevices}}>Current Devices List</a>
    {{/view}} 
    {{#view view.NavItemView item="assignSurveys" }}
    	<a {{action doAssignSurveysOverview}}>Assign Surveys</a>
    {{/view}} 
</ul>
