<ul>
    {{#view view.NavItemView item="currentDevices" }}
    	<a {{action doCurrentDevices}}>Current Devices List</a>
    {{/view}} 
    {{#view view.NavItemView item="assignSurveys" }}
    	<a {{action doAssignSurveysOverview}}>Current Assignments</a>
    {{/view}} 
    {{#view view.NavItemView item="editSurveyAssignment" }}
    	<a {{action doEditSurveysAssignment}}>Edit Assignment</a>
    {{/view}} 
</ul>
