<ul>
    {{#view view.NavItemView item="currentDevices" }}
    	<a {{action doCurrentDevices}}>{{t _Devices_list}}</a>
    {{/view}} 
    {{#view view.NavItemView item="assignSurveys" }}
    	<a {{action doAssignSurveysOverview}}>{{t _Assignments_list}}</a>
    {{/view}} 
</ul>
