<section class="topBar">
    <div id="tabs">
        <nav class="tabNav floats-in">
            {{view FLOW.DevicesSubnavView controllerBinding="controller.controllers.devicesSubnavController"}}
        </nav>    
    </div>
</section>    
<section class="devicesSection floats-in belowHeader" id="main" role="main">
    {{outlet}}
</section>
