<section class="devicesSection floats-in middleSection" id="main" role="main">
    <div id="tabs">
        <nav class="tabNav floats-in">
            {{view FLOW.DevicesSubnavView controllerBinding="controller.controllers.devicesSubnavController"}}
        </nav>
        {{outlet}}
    </div>
</section>
