<section class="fullWidth" id="reportBlocks">
  {{#view FLOW.BulkUploadAppletView}}
       
 <h1>Bulk upload data</h1>

  <div class="bulkUpload block">
    <h3>Export raw data report</h3>
    <p>{{t _upload_applet_text}}</p>
    <a {{action showBulkUploadApplet target="this"}} class="standardBtn"> {{t _bulk_upload_data}} </a>
  </div>
  {{#if view.showBulkUploadAppletBool }}
    {{view FLOW.bulkImportApplet }}
  {{/if}}
{{/view}}
</section>
