<ul>
    {{#view view.NavItemView item="inspectData" }}
    <a {{action doInspectData}}>Inspect Data</a>
    {{/view}} 
    {{#view view.NavItemView item="manageAttributes" }}
    <a {{action doManageAttributes}}>Manage Attributes</a>
    {{/view}} 
    {{#view view.NavItemView item="bulkUpload" }}
    <a {{action doBulkUpload}}>Bulk upload data</a>
    {{/view}} 
    {{#view view.NavItemView item="dataCleaning" }}
    <a {{action doDataCleaning}}>Data cleaning</a>
    {{/view}} 
</ul>
