<section class="dataSection floats-in middleSection" id="main" role="main">
  <div id="tabs">
    <nav class="tabNav floats-in">
      {{view FLOW.DatasubnavView controllerBinding="controller.controllers.datasubnavController"}}
    </nav>
    {{outlet}}
  </div>
</section>
