<section class="topBar">
    <div id="tabs">
        <nav class="tabNav floats-in">
  			{{view FLOW.DatasubnavView controllerBinding="controller.controllers.datasubnavController"}}
        </nav>    
    </div>
</section>    
<section class="dataSection floats-in belowHeader" id="main" role="main">
    {{outlet}}
</section>
