<div class="block">
<applet height="30" width="100"
	code="com.gallatinsystems.framework.dataexport.applet.DataExportAppletImpl"
	archive="../exporterapplet.jar,../json.jar,../poi-3.5-signed.jar,../gdata-core-1.0.jar">
	<param name="cache-archive"
		value="exporterapplet.jar, json.jar, poi-3.5-signed.jar">
	<param name="cache-version" value="1.3, 1.0, 3.5">
	<param name="exportType" value="SURVEY_FORM">
	<param name="factoryClass"
		value="org.waterforpeople.mapping.dataexport.SurveyDataImportExportFactory">
	<param name="criteria" value="surveyId:={{unbound FLOW.selectedControl.selectedSurvey.keyId}}">
    <param name="serverOverride" value="{{getServer}}">
</applet>
</div>