<form>
  <input type="search" placeholder="Find anything here." name="flowSearch" title="Search Akvo Flow Web"/>
</form>
<section id="userLog">
  <ul>
    <li class="userLogin"><a href="#">{{t _login}}</a></li>
    <li class="userRegister"><a href="#">{{t _register}}</a></li>
  </ul>
  <ul>
    <li></li>
    <li></li>
  </ul>
</section>