<form>
   <label class="languageSelector">
   {{view Ember.Select
      contentBinding="FLOW.dashboardLanguageControl.content"
      optionLabelPath="content.label"
      optionValuePath="content.value"
      valueBinding="FLOW.dashboardLanguageControl.dashboardLanguage" }}
   </label>
</form>
