loader.register('akvo-flow/currentuser', function(require) {
  FLOW.currentUser = Ember.Object.create({
    email: '$user.emailAddress',
    permissionList: $user.permissionList,
    showUserTab: #if ( $user.permissionList == 0 || $user.permissionList == 10 ) true #else false #end,
    pathPermissions: $permissions,
  });
});