<div id="wrap">
<div class="WFPcredit">This FLOW data is provided by <a href="http://www.waterforpeople.org/FLOW">$organization</a></div>
    <div id="headerBalloon">
    <div class="headerBalloonContent">
    <p>
       Community | $identifier
    </p>
    <p><div id="collectionDate">data collection date: $collectionDate</div></p>
    </div>
    <div class="mapIcon">				    
      				#if($type=="WaterPoint" && $waterSystemStatus=="System Functioning and Meets Government Standards")
	                    <img src="http://watermapmonitordev.appspot.com/images/iconGreen36.png" width="36" height="36"  />
					#elseif($type=="WaterPoint" && $waterSystemStatus=="Functioning but with Problems")
						<img src="http://watermapmonitordev.appspot.com/images/iconYellow36.png" width="36" height="36"  />
					#elseif($type=="WaterPoint" && ($waterSystemStatus=="Broken-down system"))
						<img src="http://watermapmonitordev.appspot.com/images/iconRed36.png" width="36" height="36"  />
					#elseif($type=="WaterPoint" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/iconBlack36.png" width="36" height="36"  />
					#elseif($type=="School" && $waterSystemStatus=="System Functioning and Meets Government Standards")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilGreen36.png" width="36" height="36"  />
					#elseif($type=="School" && $waterSystemStatus=="Functioning but with Problems")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilYellow36.png" width="36" height="36"  />
					#elseif($type=="School" && $waterSystemStatus=="Broken-down system")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilRed36.png" width="36" height="36"  />
					#elseif($type=="School" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/pencilBlack36.png" width="36" height="36"  />
					#elseif(($type=="PublicInstitution" || $type=="health_posts") && $waterSystemStatus=="System Functioning and Meets Government Standards")	
						<img src="http://watermapmonitordev.appspot.com/images/houseGreen36.png" width="36" height="36"  />
					#elseif(($type=="PublicInstitution" || $type=="health_posts") && $waterSystemStatus=="Functioning but with Problems")	
						<img src="http://watermapmonitordev.appspot.com/images/houseYellow36.png" width="36" height="36"  />
					#elseif(($type=="PublicInstitution" || $type=="health_posts") && $waterSystemStatus=="Broken-down system")	
						<img src="http://watermapmonitordev.appspot.com/images/houseRed36.png" width="36" height="36"  />
					#elseif(($type=="PublicInstitution" || $type=="health_posts") && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/houseBlack36.png" width="36" height="36"  />
					#elseif($type=="WaterPoint" && $waterSystemStatus=="High Level Service")
	                    <img src="http://watermapmonitordev.appspot.com/images/iconGreen36.png" width="36" height="36"  />
					#elseif($type=="WaterPoint" && $waterSystemStatus=="Intermediate Level Service")
						<img src="http://watermapmonitordev.appspot.com/images/iconYellow36.png" width="36" height="36"  />
					#elseif($type=="WaterPoint" && ($waterSystemStatus=="Basic Level Service"))
						<img src="http://watermapmonitordev.appspot.com/images/iconRed36.png" width="36" height="36"  />
					#elseif($type=="WaterPoint" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/iconBlack36.png" width="36" height="36"  />
					#elseif($type=="School" && $waterSystemStatus=="High Level Service")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilGreen36.png" width="36" height="36"  />
					#elseif($type=="School" && $waterSystemStatus=="Intermediate Level Service")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilYellow36.png" width="36" height="36"  />
					#elseif($type=="School" && $waterSystemStatus=="Basic Level Service")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilRed36.png" width="36" height="36"  />
					#elseif($type=="School" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/pencilBlack36.png" width="36" height="36"  />
					#elseif(($type=="PublicInstitution" || $type=="health_posts") && $waterSystemStatus=="High Level Service")	
						<img src="http://watermapmonitordev.appspot.com/images/houseGreen36.png" width="36" height="36"  />
					#elseif(($type=="PublicInstitution" || $type=="health_posts") && $waterSystemStatus=="Intermediate Level Service")	
						<img src="http://watermapmonitordev.appspot.com/images/houseYellow36.png" width="36" height="36"  />
					#elseif(($type=="PublicInstitution" || $type=="health_posts") && $waterSystemStatus=="Basic Level Service")	
						<img src="http://watermapmonitordev.appspot.com/images/houseRed36.png" width="36" height="36"  />
					#elseif(($type=="PublicInstitution" || $type=="health_posts") && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/houseBlack36.png" width="36" height="36"  /> 					
					#else
						<img src="http://watermapmonitordev.appspot.com/images/houseBlack36.png" width="36" height="36"  />
					#end
					</div>
    			</div>

  <div id="mainContent">
      <div id="leftContent">
      	<div class="scroll-pane-info">
      		<table>
      		    #foreach($surveyalValue in $surveyalValues)
			 
				   #if( $surveyalValue.metricName )
			 		  <tr valign="bottom"><td class="QandA">$surveyalValue.metricName :</td><td>$surveyalValue.stringValue</td></tr>
			 	   #else
			 		  <tr valign="bottom"><td class="QandA">$surveyalValue.questionText :</td><td>$surveyalValue.stringValue</td></tr>
			 	   #end
			    #end			 
			</table>
		</div>
      </div>
    <div id="rightContent">
        <img width="175" height="150" src="$photoUrl" class="infoPhoto" />
        #if ( $photoCaption) 
        <p class="photoCaption">$photoCaption</p>
        #end
    </div>
 </div>
    </div>
</div>
