  <Placemark>
  <TimeStamp>
  	<when>$timestamp</when>
  </TimeStamp>
    <!--<name><![CDATA[<strong><font color="red" size="+2">$communityCode</font></strong>]]></name>-->
    <name>$communityCode #if(($collectionYear)) - $collectionYear #end</name>
    <styleUrl>$pinStyle</styleUrl>
    <description><![CDATA[
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Water For People :: Field Operations Watch</title>
<style>
@charset "UTF-8";
/* CSS Document */

body {
	background:#ffffff;
	font: 12px "Trebuchet MS", Verdana, Arial;
}
p {
	padding:0;
	margin:0;
}
ul {
	list-style-type:none;
	padding:10px 0 0 0;
	margin:0;
}
li {
	padding:5px 0;
	margin:0;
}
li label {
	color:#999999;
}
h2 {
	font-size:18px;
	margin:0;
	padding:5px 0 0 0;
}
h2 label {
	padding:0;
	margin:0;
	color: #a8b538;
}
.wrap {
	width: 792px;
	height:auto;
}
.contentTop {
	padding:0;
	margin:0;
	width:792px;
	height:43px;
	background: url("http://watermapmonitordev.appspot.com/images/geb-wfp-ext_01.jpg") no-repeat;
	overflow:hidden;
}
.content {
	paddding:0;
	margin:0;
	width:792px;
	background: url("http://watermapmonitordev.appspot.com/images/main-bg.jpg") left repeat-y;
}
.mainContent {
	padding:0 49px 0 69px;
	margin:0;
	width:674px;
}
.header {
	width:674px;
	height:70px;
	padding:0;
	margin:0;
	background:url("http://watermapmonitordev.appspot.com/images/header-bg.gif") repeat-x bottom;
}
.headerLeft {
	float:left;
	width:494px;
	height:65px;
	padding:0;
	margin:0;
	background:url("http://watermapmonitordev.appspot.com/images/geb-wfp-int_01.gif") no-repeat;
	text-indent:-9999px;
}
.headerRight {
	float:right;
	width:32px;
	height:65px;
	padding:0 72px 0 76px;
	margin:0;
}
.mainLeft {
	float:left;
	width:485px;
	padding:0 9px 0 0;
	margin:0;
}
.mainRight {
	float:right;
	width:180px;
	padding:0;
	margin:0;
}
.systemType label {
	float:right;
	width:124px;
	font-size:20px;
	background: #a9b539;
	color: #fff;
	padding:3px 0;
	margin-right:28px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
.mainImage {
	float:right;
	padding:10px 0 0 0;
	margin:0;
}
.mainImage img {
	padding:0 0 10px 0;
}
p.photoCaption {
	padding-top:9px;
	font-style:italic;
	font-size:.8em;
	line-height:1.0em;
}
.contentBottom {
	padding:0;
	margin:0;
	width:792px;
	height:161px;
	background:url("http://watermapmonitordev.appspot.com/images/content-bottom-bg.jpg") no-repeat;
	overflow:hidden;
}
.tinyArrow {
	padding:0;
	margin:2px 0 0 5px;
	border:0;
}
.italicText {
	font-size:11px;
	font-style:italic;
}
label.projectLabel{
	color:#0066CC;
}
.clear {
	clear:both;
}
</style>
</head>

<body>
<div class="wrap">
	<div class="content">
    	<div class="contentTop"></div>
        	<div class="mainContent">
                <div class="header">
                	<div class="headerLeft"></div>
                    <div class="headerRight">
	                #if($type=="water" && $waterSystemStatus=="System Functioning and Meets Government Standards")
	                    <img src="http://watermapmonitordev.appspot.com/images/map/water-green-1.png" width="29" height="65" border="0" />
					#elseif($type=="water" && $waterSystemStatus=="Functioning but with Problems")
						<img src="http://watermapmonitordev.appspot.com/images/map/water-yellow-1.png" width="29" height="65" border="0" />
					#elseif($type=="water" && ($waterSystemStatus=="Broken-down system"))
						<img src="http://watermapmonitordev.appspot.com/images/map/water-red-1.png" width="29" height="65" border="0" />
					#elseif($type=="water" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/map/water-black-1.png" width="29" height="65" border="0" />
                    #elseif($type=="sanitation" && $waterSystemStatus=="System Functioning and Meets Government Standards")
                     	<img src="http://watermapmonitordev.appspot.com/images/map/san-green-1.png" width="29" height="65" border="0" />
					#elseif($type=="sanitation" && $waterSystemStatus=="Functioning but with Problems")	
						<img src="http://watermapmonitordev.appspot.com/images/map/san-yellow-1.png" width="29" height="65" border="0" />
					#elseif($type=="sanitation" && $waterSystemStatus=="Broken-down system")
						<img src="http://watermapmonitordev.appspot.com/images/map/san-red-1.png" width="29" height="65" border="0" />
					#elseif($type=="sanitation" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/map/san-black-1.png" width="29" height="65" border="0" />
					#elseif($type=="school" && $waterSystemStatus=="System Functioning and Meets Government Standards")	
						<img src="http://watermapmonitordev.appspot.com/images/map/school-water-green-1.png" width="29" height="65" border="0" />
					#elseif($type=="school" && $waterSystemStatus=="Functioning but with Problems")	
						<img src="http://watermapmonitordev.appspot.com/images/map/school-water-yellow-1.png" width="29" height="65" border="0" />
					#elseif($type=="school" && $waterSystemStatus=="Broken-down system")	
						<img src="http://watermapmonitordev.appspot.com/images/map/school-water-red-1.png" width="29" height="65" border="0" />
					#elseif($type=="school" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/map/school-water-black-1.png" width="29" height="65" border="0" />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="System Functioning and Meets Government Standards")	
						<img src="http://watermapmonitordev.appspot.com/images/map/other-water-green-1.png" width="29" height="65" border="0" />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="Functioning but with Problems")	
						<img src="http://watermapmonitordev.appspot.com/images/map/other-water-yellow-1.png" width="29" height="65" border="0" />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="Broken-down system")	
						<img src="http://watermapmonitordev.appspot.com/images/map/other-water-red-1.png" width="29" height="65" border="0" />
					#elseif(($type=="public_institutions" || $type=="health_posts") && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/map/other-water-black-1.png" width="29" height="65" border="0" />
					#end
                    </div>
                </div>
                <div class="mainLeft">
                <h2>Community: <label>$communityName</label></h2>
                <p>$countryCode</p>
                <p>Data Collection Date: $collectionDate</p>
                
                <ul>
                   #if($type=="water")
			    			<li>Community Name<label>$communityName</label></li>
			    			
			    			
			    				<li>Type of Point<label> $typeOfPoint</label></li>
			    			
		    				
		    					<li>Type of Technology<label> $primaryTypeTechnology</label></li>
		    				
			    			
			    				<li>Date Data was Collected<label> $collectionDate</label></li>
			    			
		       				
								<li>Construction Date<label> $constructionDateOfWaterPoint</label></li>
							
							
								<li>Estimated Number of Users<label> $numberOfHouseholdsUsingWaterPoint</label></li>
							
							
								<li>Water Point Provides Enough Water Every Day<label> #if($provideAdequateQuantity=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes #else<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no#end</label></li>
							
							
								<li>Has System Been Down More Than 1 Day<label> #if($down1DayFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no#else <img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes#end</label></li>
							
							
								<li>Farthest Household from the Water Point is Within 500 Meters<label> #if($farthestHouseholdfromWaterPoint=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> yes #else <img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> no#end</label></li>
							
							
								<li>Water Quality of Water Meets Government Standards<label>  #if($meetGovtQualityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes #else<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no #end</label></li>
							
							
							
								<li>Quantity of Water Meets Government Standards<label> #if($meetGovtQuantityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes #else<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no #end</label></li>
							
								
								<li>Tariff/User Fee<label> $costPer</label></li>
										
							
								<li>Who Manages the Water Point?<label> $currMgmtStructure</label></li>
							
							
								<li>Who Repairs the Water Point<label> $whoRepairsPoint</label></li>
							
							
								<li>Water Technology<label> $primaryTypeTechnology</label></li>
							
							
								<li>Water System Status<label> $waterSystemStatus</label></li>
							
						#elseif($type=="sanitation")
							
			    				<li>Community Name<label> $communityName</label></li>
			    			
			    			
		    					<li>Type of Point<label> $typeOfPoint</label></li>
		    				
		    				
			    				<li>Date Data was Collected<label> $collectionDate</label></li>
			    			
			    			
								<li>Construction Date<label> $constructionDateOfWaterPoint</label></li>
							
		       				
		    					<li>Primary Sanitation Technology<label> $primaryTypeTechnology</label></li>
		    				
		    				#if($secondaryTechnology!="null")
			    				
			    					<li>Secondary Sanitation Technology<label> $secondaryTypeTechnology</label></li>
			    				
		    				#end
							
								<li>Number of Households with Improved Sanitation<label> $numberOfHouseholdsUsingWaterPoint</label></li>
							
							
								<li>Sanitation Status<label> $waterSystemStatus</label></li>
													
						#else				
			    			
			    				<li>Community Name<label> $communityName</label></li>
			    			
			    			
			    				<li>Type of Public Institution<label> $typeOfPoint</label></li>
			    			
			    			
			    				<li>Public Institution Name<label> $institutionName</label></li>
			    			
		    				
		    					<li>Type of Technology<label> $primaryTypeTechnology</label></li>
		    				
			    			
			    				<li>Date Data was Collected<label> $collectionDate</label></li>
			    			
		       				
								<li>Construction Date<label> $constructionDateOfWaterPoint</label></li>
							
							
								<li>Estimated Number of Users<label> $numberOfHouseholdsUsingWaterPoint</label></li>
							
							
								<li>Water Point Provides Enough Water Every Day<label> #if($provideAdequateQuantity=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes #else<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no#end</label></li>
							
							
								<li>Has System Been Down More Than 1 Day<label> #if($down1DayFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no#else <img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes#end</label></li>
							
							
								<li>Farthest Household from the Water Point is Within 500 Meters<label> #if($farthestHouseholdfromWaterPoint=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes #else<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no#end</label></li>
							
							
								<li>Water Quality of Water Meets Government Standards<label>  #if($meetGovtQualityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes #else<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no #end</label></li>
							
							
							
								<li>Quantity of Water Meets Government Standards<label> #if($meetGovtQuantityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes #else<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no #end</label></li>
							
								
								<li>Tariff/User Fee<label> $costPer</label></li>
										
							
								<li>Who Manages the Water Point?<label> $currMgmtStructure</label></li>
							
							
								<li>Who Repairs the Water Point<label> $whoRepairsPoint</label></li>
							
							
								<li>Primary Sanitation Technology<label> $primaryTypeTechnology</label></li>
							
							#if($secondaryTechnology!="null")
			    				
			    					<li>Secondary Sanitation Technology<label> $secondaryTypeTechnology</label></li>
			    				
		    				#end
							
								<li>Water System Status<label>$waterSystemStatus</label></li>
							
						#end                    <li class="italicText">This <label class="projectLabel">[Data Mapping Project]</label> data is provided by Water For People <a href="http://www.waterforpeople.org"><img src="http://watermapmonitordev.appspot.com/images/geb-wfp-int_14.gif" width="9" height="12" alt="" class="tinyArrow"></a></li>
                </ul>
                </div>
                <div class="mainRight">
                	<div class="systemType"><label>$type</label></div>
                	
                	<div class="clear"></div>
                    <div class="mainImage"><img src="$photoUrl" width="180" height="272" border="0" /></div>
                    <p class="photoCaption"><label>$waterPointPhotoCaption</label><br /><!--<a href="">More images</a><a href=""><img src="http://watermapmonitordev.appspot.com/images/geb-wfp-int_14.gif" width="9" height="12" alt="" class="tinyArrow"></a>--></p>
                    
                </div>
                <div class="clear"></div>
            </div>
        </div>
		<div class="contentBottom clear"></div>
    </div>
</div>
</body>
</html>
   ]]></description>
    <Point>
      <coordinates>$longitude,$latitude,$altitude</coordinates>
    </Point>
  </Placemark>
