<style>
@charset "UTF-8";
/* CSS Document */
@charset "utf-8";
body {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #6d6e71;
}
a:link, a:visited {
	text-decoration: none;
	color: #f3f3f3;
}
a:hover, a:active {
	text-decoration: none;
	color: #bdd73c;
}
#wrap {
	background: #e7e7e7;
	width: 550px;
	height: 550px;
	padding-top: 10px;
}
#headerBalloon {
	height: 60px;
	background: #58585a url(http://watermapmonitordev.appspot.com/images/brandGreySmall.png) no-repeat left;
	margin-right: auto;
	margin-left: auto;
	width: 530px;
}
#WFPcredit {
	font-size: 0.6em;
	color: #f3f3f3;
	top: 25px;
	position: absolute;
	font-weight: normal;
	left: 240px;
}
#communityDesc {
	background: #f3f3f3;
	height: 60px;
	width: 530px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
#communityDef {
	float: left;
	font-size: 0.9em;
	position: relative;
	top: 7px;
	left: 5px;
}
#communityName {
	margin-bottom: 10px;

}
.mapIcon {
	float: right;
	position: relative;
	right: 5px;
	top: 5px;
}
#mainContent {
	width: 530px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
#leftContent {
	width: 325px;
	font-size: 0.6em;
	position: relative;
	float: left;
	top: 10px;
}
.QandA {
	position: relative;
	overflow: hidden;
}
.question  {
	background: #58585a;
	text-align: right;
	color: #f3f3f3;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	width: 155px;
	padding-right: 5px;
	padding-left: 5px;
}
.answer  {
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 150px;
	padding-left: 10px;
	display: inline-block;
}
#rightContent {
	position: relative;
	float: right;
	width: 195px;
	top: 10px;
}
#rightContent .photo {
	background: #58585a;
	padding: 10px;
}
#photoCaption {
	color: #f3f3f3;
	font-size: .6em;
	text-align: center;
	margin-top: 5px;
}

</style>
<div id="wrap">
    <div id="headerBalloon">
      <div id="WFPcredit">This [Data Mapping Project] data is provided by <a href="#">Water For People</a></div>
    </div>
    <div id="communityDesc">
      <div id="communityDef">
        <div id="communityName">Community | $communityName - $communityCode </div>
        <div id="collectionDate">data collection date: $collectionDate</div>
      </div>
      <div class="mapIcon">
 				    #if($type=="water" && $waterSystemStatus=="Meets Government Standards")
	                    <img src="http://watermapmonitordev.appspot.com/images/iconGreen80.png" width="50" height="50"  />
					#elseif($type=="water" && $waterSystemStatus=="Functioning but with Problems")
						<img src="http://watermapmonitordev.appspot.com/images/iconYellow80.png" width="50" height="50"  />
					#elseif($type=="water" && ($waterSystemStatus=="Broken-down system"))
						<img src="http://watermapmonitordev.appspot.com/images/iconRed80.png" width="50" height="50"  />
					#elseif($type=="water" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/iconBlack80.png" width="50" height="50"  />
					#elseif($type=="school" && $waterSystemStatus=="Meets Government Standards")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilGreen80.png" width="50" height="50"  />
					#elseif($type=="school" && $waterSystemStatus=="Functioning but with Problems")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilYellow80.png" width="50" height="50"  />
					#elseif($type=="school" && $waterSystemStatus=="Broken-down system")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilRed80.png" width="50" height="50"  />
					#elseif($type=="school" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/pencilBlack80.png" width="50" height="50"  />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="Meets Government Standards")	
						<img src="http://watermapmonitordev.appspot.com/images/houseGreen80.png" width="50" height="50"  />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="Functioning but with Problems")	
						<img src="http://watermapmonitordev.appspot.com/images/houseYellow80.png" width="50" height="50"  />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="Broken-down system")	
						<img src="http://watermapmonitordev.appspot.com/images/houseRed80.png" width="50" height="50"  />
					#elseif(($type=="public_institutions" || $type=="health_posts") && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/houseBlack80.png" width="50" height="50"  />
					#end
		</div>
	</div>
	<div id="maincontent">
		<div id="leftcontent">
			 #if($type=="water")
	    					<div class="QandA"><div class="question">Type of Technology</div><div class="answer"> $primaryTypeTechnology</div></div>
							<div class="QandA"><div class="question">Construction Date</div><div class="answer"> $constructionDateOfWaterPoint<br></div></div>
							<div class="QandA"><div class="question">Estimated Number of Users</div><div class="answer"> $numberOfHouseholdsUsingWaterPoint<br></div></div>
							<div class="QandA"><div class="question">Water Point Provides Enough Water Every Day</div><div class="answer"> #if($provideAdequateQuantity=="Yes")<img src="http://watermapmonitordev.appspot.com/images/iconCheck36.png" /> #elseif($provideAdequateQuantity=="No")<img src="http://watermapmonitordev.appspot.com/images/iconX36.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark36.png" /> #end<br></div></div>
							#if(!($waterSystemStatus=="No Improved System"))
								<div class="QandA"><div class="question">Has the Improved system been down for less than 1 day in the last month?</div><div class="answer"> #if(($down1DayFlag=="Yes") || ($waterSystemStatus=="Broken-down system"))<img src="http://watermapmonitordev.appspot.com/images/iconX36.png" /> #elseif ($down1DayFlag=="No") <img src="http://watermapmonitordev.appspot.com/images/iconCheck36.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark36.png" /> #end<br></div>  </div>
							#end
							<div class="QandA"><div class="question">Farthest Household from the Water Point is Within 500 Meters</div><div class="answer"> #if($farthestHouseholdfromWaterPoint=="Yes")<img src="http://watermapmonitordev.appspot.com/images/iconCheck36.png" />#elseif($farthestHouseholdfromWaterPoint=="No") <img src="http://watermapmonitordev.appspot.com/images/iconX36.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark36.png" /> #end<br></div> </div>
							<div class="QandA"><div class="question">Water Quality of Water Meets Government Standards</div><div class="answer">  #if($meetGovtQualityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/iconCheck36.png" /> #elseif($meetGovtQualityStandardFlag=="No")<img src="http://watermapmonitordev.appspot.com/images/iconX36.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark36.png" /> #end<br></div> </div>
							<div class="QandA"><div class="question">Quantity of Water Meets Government Standards</div><div class="answer"> #if($meetGovtQuantityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/iconCheck36.png" /> #elseif($meetGovtQuantityStandardFlag=="No")<img src="http://watermapmonitordev.appspot.com/images/iconX36.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark36.png" /> #end<br></div>  </div>
							<div class="QandA"><div class="question">Tariff/User Fee</div><div class="answer"> $costPer<br></div> </div>
							<div class="QandA"><div class="question">Water System Status</div><div class="answer"> $waterSystemStatus<br></div> </div>
						#else				
		    				<div class="QandA"><div class="question">Public Institution Name</div><div class="answer"> $institutionName<br></div></div>
	    					<div class="QandA"><div class="question">Type of Technology</div><div class="answer"> $primaryTypeTechnology<br></div></div>
							<div class="QandA"><div class="question">Construction Date</div><div class="answer"> $constructionDateOfWaterPoint<br></div></div>
							<div class="QandA"><div class="question">Estimated Number of Users</div><div class="answer"> $numberOfHouseholdsUsingWaterPoint<br></div></div>
							<div class="QandA"><div class="question">Water Point Provides Enough Water Every Day</div><div class="answer"> #if($provideAdequateQuantity=="Yes")<img src="http://watermapmonitordev.appspot.com/images/iconCheck36.png" /> #elseif($provideAdequateQuantity=="No")<img src="http://watermapmonitordev.appspot.com/images/iconX36.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark36.png" /> #end<br></div></div>
							#if(!($waterSystemStatus=="No Improved System"))
								<div class="QandA"><div class="question">Has the Improved system been down for less than 1 day in the last month?</div><div class="answer"> #if(($down1DayFlag=="Yes") || ($waterSystemStatus=="Broken-down system"))<img src="http://watermapmonitordev.appspot.com/images/iconX36.png" /> #elseif ($down1DayFlag=="No") <img src="http://watermapmonitordev.appspot.com/images/iconCheck36.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark36.png" /> #end<br></div>  </div>
							#end
							<div class="QandA"><div class="question">Farthest Household from the Water Point is Within 500 Meters</div><div class="answer"> #if($farthestHouseholdfromWaterPoint=="Yes")<img src="http://watermapmonitordev.appspot.com/images/iconCheck36.png" />#elseif($farthestHouseholdfromWaterPoint=="No") <img src="http://watermapmonitordev.appspot.com/images/iconX36.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark36.png" /> #end<br></div> </div>
							<div class="QandA"><div class="question">Water Quality of Water Meets Government Standards</div><div class="answer">  #if($meetGovtQualityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/iconCheck36.png" /> #elseif($meetGovtQualityStandardFlag=="No")<img src="http://watermapmonitordev.appspot.com/images/iconX36.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark36.png" /> #end<br></div> </div>
							<div class="QandA"><div class="question">Quantity of Water Meets Government Standards</div><div class="answer"> #if($meetGovtQuantityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/iconCheck36.png" /> #elseif($meetGovtQuantityStandardFlag=="No")<img src="http://watermapmonitordev.appspot.com/images/iconX36.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark36.png" /> #end<br></div>  </div>
							<div class="QandA"><div class="question">Tariff/User Fee</div><div class="answer"> $costPer<br></div></div>
							<div class="QandA"><div class="question">Primary Sanitation Technology</div><div class="answer"> $primaryTypeTechnology<br></div></div>
						#if($secondaryTechnology!="null")
		    					<div class="QandA"><div class="question">Secondary Sanitation Technology</div><div class="answer"> $secondaryTypeTechnology<br></div></div>
	    				#end
							<div class="QandA"><div class="question">Water System Status</div><div class="answer">$waterSystemStatus<br></div></div>
					#end 
		</div>
		<div class="rightcontent">
			<div class="photoframe">
				  <div class="photo">
				<img width="175" height="150" src="$photoUrl">
				 <div id="photoCaption">$waterPointPhotoCaption</div>
				</div>
			</div>
		</div>
	</div>