<style>

#wrap {
	background: #231f20;
	width: 550px;
	height: 312px;
}
#wrap #headerBalloon {
	height: 60px;
	background: #58505b;
	color:#fff;
	font-size:1.2em;
	margin:0 10px 10px 10px;
	width: 530px;
	border-radius:20px;
	border:2px solid #939598;
}
#wrap #headerBalloon .headerBalloonContent {
	float:left;
	padding:0 0 10px 10px;
	width:400px;
}
#wrap #headerBalloon .mapIcon {
	float: right;
	padding:0 10px 0 0;
	margin:0;
}
.WFPcredit {
	display:block;
	font-size: 10px;
	color: #f3f3f3;
	float: right;
	position:relative;
	top:-26px;
	right:35px;
}

#wrap #mainContent {
	width: 530px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	font-size:.9em;
}
#wrap #leftContent {
	float:left;
	width: 281px;
	background: #58505b;
	color:#fff;

	margin:0 10px 0 0;
	border-radius:20px;
	border:2px solid #939598;
	padding:10px;
}
#wrap #mainContent #leftContent .jspVerticalBar {
	left: 0;
}

#wrap #mainContent #leftContent .scroll-pane-info {
	width: 100%;
	height:172px;
	overflow: auto;
	padding:0;
	margin:0;
}

.jspContainer{
	overflow: hidden;
	position: relative;
}

.jspPane{
	position: absolute;
}
.jspCap{
	display: block;
	background: #eeeef4;
}

.jspVerticalBar .jspCap{
	height: 20px;
}
.jspVerticalBar{
	position: absolute;
	top: 0px;
	right: 0;
	width: 6px;
	height: 100%;
}
.jspVerticalBar *{
	margin: 0;
	padding: 0;
}

.jspCap{
	display: none;
}

.jspTrack{
	background: #333;
	position: relative;
}

.jspDrag{
	background: #939598;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspArrow{
	background: #fff;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow  .jspDisabled{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow{
	height: 8px;
}

.jspVerticalBar  .jspArrow:focus{
	outline: none;
}

.jspCorner{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner{
	margin: 0 -3px 0 0;
}

#wrap #leftContent .scroll-pane-info tr td {
	padding:5px;
	width:150px;
	font-size:10px;
}
#wrap #leftContent .scroll-pane-info tr td.QandA {
	border-bottom: 1px dotted #eee;
	text-align:right;
	font-weight:bold;
}
#wrap .answer img {
	top: 2px;
	position: relative;
}

#wrap #rightContent {
	float: right;
	width: 191px;
	background: #58505b;
	color:#fff;
	font-size:1.0em;
	margin:0;
	padding:10px;
	border-radius:20px;
	border:2px solid #939598;
}
#wrap .infoPhoto {
	width:175px;
	height:150px;
	margin:0;
	padding:0;
}
#wrap p.photoCaption {
	color: #ffffff;
	text-align: center;
	padding:0;
	margin-top: 5px;
}

</style>
<div class="WFPcredit">This FLOW data is provided by <a href="http://www.waterforpeople.org/FLOW">$organization</a></div>
<div id="wrap">
    <div id="headerBalloon">
    <div class="headerBalloonContent">
    <p>
       #if($type=="water")
       Community | $communityName - $communityCode
       #else
       Community | $communityName - $institutionName
       #end
    </p>
    <p><div id="collectionDate">data collection date: $collectionDate</div></p>
    </div>
    <div class="mapIcon">				    
      				#if($type=="water" && $waterSystemStatus=="Meets Government Standards")
	                    <img src="http://watermapmonitordev.appspot.com/images/iconGreen36.png" width="36" height="36"  />
					#elseif($type=="water" && $waterSystemStatus=="Functioning but with Problems")
						<img src="http://watermapmonitordev.appspot.com/images/iconYellow36.png" width="36" height="36"  />
					#elseif($type=="water" && ($waterSystemStatus=="Broken-down system"))
						<img src="http://watermapmonitordev.appspot.com/images/iconRed36.png" width="36" height="36"  />
					#elseif($type=="water" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/iconBlack36.png" width="36" height="36"  />
					#elseif($type=="school" && $waterSystemStatus=="Meets Government Standards")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilGreen36.png" width="36" height="36"  />
					#elseif($type=="school" && $waterSystemStatus=="Functioning but with Problems")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilYellow36.png" width="36" height="36"  />
					#elseif($type=="school" && $waterSystemStatus=="Broken-down system")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilRed36.png" width="36" height="36"  />
					#elseif($type=="school" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/pencilBlack36.png" width="36" height="36"  />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="Meets Government Standards")	
						<img src="http://watermapmonitordev.appspot.com/images/houseGreen36.png" width="36" height="36"  />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="Functioning but with Problems")	
						<img src="http://watermapmonitordev.appspot.com/images/houseYellow36.png" width="36" height="36"  />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="Broken-down system")	
						<img src="http://watermapmonitordev.appspot.com/images/houseRed36.png" width="36" height="36"  />
					#elseif(($type=="public_institutions" || $type=="health_posts") && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/houseBlack36.png" width="36" height="36"  />
					#elseif($type=="water" && $waterSystemStatus=="High Level Service")
	                    <img src="http://watermapmonitordev.appspot.com/images/iconGreen36.png" width="36" height="36"  />
					#elseif($type=="water" && $waterSystemStatus=="Intermediate Level Service")
						<img src="http://watermapmonitordev.appspot.com/images/iconYellow36.png" width="36" height="36"  />
					#elseif($type=="water" && ($waterSystemStatus=="Basic Level Service"))
						<img src="http://watermapmonitordev.appspot.com/images/iconRed36.png" width="36" height="36"  />
					#elseif($type=="water" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/iconBlack36.png" width="36" height="36"  />
					#elseif($type=="school" && $waterSystemStatus=="High Level Service")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilGreen36.png" width="36" height="36"  />
					#elseif($type=="school" && $waterSystemStatus=="Intermediate Level Service")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilYellow36.png" width="36" height="36"  />
					#elseif($type=="school" && $waterSystemStatus=="Basic Level Service")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilRed36.png" width="36" height="36"  />
					#elseif($type=="school" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/pencilBlack36.png" width="36" height="36"  />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="High Level Service")	
						<img src="http://watermapmonitordev.appspot.com/images/houseGreen36.png" width="36" height="36"  />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="Intermediate Level Service")	
						<img src="http://watermapmonitordev.appspot.com/images/houseYellow36.png" width="36" height="36"  />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="Basic Level Service")	
						<img src="http://watermapmonitordev.appspot.com/images/houseRed36.png" width="36" height="36"  />
					#elseif(($type=="public_institutions" || $type=="health_posts") && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/houseBlack36.png" width="36" height="36"  />New 
					#end
					</div>
    			</div>

  <div id="mainContent">
      <div id="leftContent">
      <div class="scroll-pane-info">
      <table width="100%" height="205">
			 #if($type=="water")
	    					<tr valign="bottom"><td class="QandA">Water System Status</td><td>$waterSystemStatus</td></tr>
	    					<tr valign="bottom"><td class="QandA">Type of Technology</td><td>$primaryTypeTechnology</td></tr>
							<tr valign="bottom"><td class="QandA">Construction Date</td><td>$constructionDateOfWaterPoint</td></tr>
							#if($numberOfHouseholdsUsingWaterPoint!="null")
								<tr valign="bottom"><td class="QandA">Estimated Number of Households</td><td>$numberOfHouseholdsUsingWaterPoint</td></tr>
							#end
							#if($estimatedPopulation!="null")
								<tr valign="bottom"><td class="QandA">Estimated Number of Users</td><td>$estimatedPopulation</td></tr>
							#end
							<tr valign="bottom"><td class="QandA">Water Point Provides Enough Water Every Day</td><td>#if($provideAdequateQuantity=="Yes")Yes #elseif($provideAdequateQuantity=="No")<img src="http://watermapmonitordev.appspot.com/images/iconX25.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark25.png" /> #end</td></tr>
							#if(!($waterSystemStatus=="No Improved System"))
								<tr valign="bottom"><td class="QandA">Has the Improved system been down for less than 1 day in the last month?</td><td>#if(($down1DayFlag=="Yes") || ($waterSystemStatus=="Broken-down system"))<img src="http://watermapmonitordev.appspot.com/images/iconX25.png" /> #elseif ($down1DayFlag=="No") <img src="http://watermapmonitordev.appspot.com/images/iconCheck25.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark25.png" /> #end</td></tr>
							#end
							#if($currentProblem!="null")
								<tr valign="bottom"><td class="QandA">Current Problem</td><td>#if(($currentProblem=="Yes") || ($waterSystemStatus=="Broken-down system"))<img src="http://watermapmonitordev.appspot.com/images/iconX25.png" /> #elseif ($currentProblem=="No") <img src="http://watermapmonitordev.appspot.com/images/iconCheck25.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark25.png" /> #end</td></tr>
							#end
							<tr valign="bottom"><td class="QandA">Water Quality Meets Government Standards</td><td> #if($meetGovtQualityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/iconCheck25.png" /> #elseif($meetGovtQualityStandardFlag=="No")<img src="http://watermapmonitordev.appspot.com/images/iconX25.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark25.png" /> #end</td></tr>
							<tr valign="bottom"><td class="QandA">Quantity of Water Meets Government Standards</td><td>#if($meetGovtQuantityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/iconCheck25.png" /> #elseif($meetGovtQuantityStandardFlag=="No")<img src="http://watermapmonitordev.appspot.com/images/iconX25.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark25.png" /> #end</td></tr>
							<tr valign="bottom"><td class="QandA">Tariff/User Fee</td><td>$costPer</td></tr>
												
						#else
							<tr valign="bottom"><td class="QandA">Water System Status</td><td>$waterSystemStatus</td></tr>				
		    				<tr valign="bottom"><td class="QandA">Public Institution Name</td><td>$institutionName</td></tr>
	    					<tr valign="bottom"><td class="QandA">Type of Technology</td><td>$primaryTypeTechnology</td></tr>
							<tr valign="bottom"><td class="QandA">Construction Date</td><td>$constructionDateOfWaterPoint</td></tr>
							#if($estimatedPopulation!="null")
								<tr valign="bottom"><td class="QandA">Estimated Number of Users</td><td>$estimatedPopulation</td></tr>
							#end
							<tr valign="bottom"><td class="QandA">Water Point Provides Enough Water Every Day</td><td>#if($provideAdequateQuantity=="Yes")<img src="http://watermapmonitordev.appspot.com/images/iconCheck25.png" /> #elseif($provideAdequateQuantity=="No")<img src="http://watermapmonitordev.appspot.com/images/iconX25.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark25.png" /> #end</td></tr>
							#if(!($waterSystemStatus=="No Improved System"))
								<tr valign="bottom"><td class="QandA">Has the Improved system been down for less than 1 day in the last month?</td><td>#if(($down1DayFlag=="Yes") || ($waterSystemStatus=="Broken-down system"))<img src="http://watermapmonitordev.appspot.com/images/iconX25.png" /> #elseif ($down1DayFlag=="No") <img src="http://watermapmonitordev.appspot.com/images/iconCheck25.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark25.png" /> #end</td></tr>
							#end
							#if($currentProblem!="null")
								<tr valign="bottom"><td class="QandA">Current Problem</td><td>#if(($currentProblem=="Yes") || ($waterSystemStatus=="Broken-down system"))<img src="http://watermapmonitordev.appspot.com/images/iconX25.png" /> #elseif ($currentProblem=="No") <img src="http://watermapmonitordev.appspot.com/images/iconCheck25.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark25.png" /> #end</td></tr>
							#end
							<tr valign="bottom"><td class="QandA">Water Quality Meets Government Standards</td><td> #if($meetGovtQualityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/iconCheck25.png" /> #elseif($meetGovtQualityStandardFlag=="No")<img src="http://watermapmonitordev.appspot.com/images/iconX25.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark25.png" /> #end</td></tr>
							<tr valign="bottom"><td class="QandA">Quantity of Water Meets Government Standards</td><td>#if($meetGovtQuantityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/iconCheck25.png" /> #elseif($meetGovtQuantityStandardFlag=="No")<img src="http://watermapmonitordev.appspot.com/images/iconX25.png" /> #else <img src="http://watermapmonitordev.appspot.com/images/iconQMark25.png" /> #end</td></tr>
							<tr valign="bottom"><td class="QandA">Primary Sanitation Technology</td><td>$secondaryTypeTechnology</td></tr>
					#end 
					#if($waterFoePeopleProject!="null")
						<tr valign="bottom"><td class="QandA">Water For People Supported Project</td><td>$waterForPeopleProject</td></tr>
					#end
					</table>
					</div>
      </div>
    <div id="rightContent">
        <img width="175" height="150" src="$photoUrl" class="infoPhoto" />
        <p class="photoCaption">$waterPointPhotoCaption</p>
      </div>
    </div>
    </div>
</div>
