  <Placemark>
  <TimeStamp>
  	<when>$timestamp</when>
  </TimeStamp>
    <!--<name><![CDATA[<strong><font color="red" size="+2">$communityCode</font></strong>]]></name>-->
    <name>$communityCode #if(($collectionYear)) - $collectionYear #end</name>
    <styleUrl>$pinStyle</styleUrl>
    <description><![CDATA[
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Water For People :: Field Operations Watch</title>
$balloon
   ]]></description>
    <Point>
      <coordinates>$longitude,$latitude,$altitude</coordinates>
    </Point>
  </Placemark>
