<style>
@charset "UTF-8";
/* CSS Document */
body {
	background: #e6e6e6;
	font: 12px "Trebuchet MS";
}
#wrap {
	  background: #e6e6e6;
	  positon: relative;
	  width: 800px;
	  height: auto;
}
#header {
	display:table;
	  float:left;
	  position:5px,relative;
	  background: #333333;
	  width: 800px;
	  height: auto;
	  color:#404040;
}
#communitydef {
      float:left;
	  background: #F2F2F2;
	  padding:10px;
	  width: 780px;
	  height: auto;
}
#communitydesc{
	float: left;
	width:85%;
	positon: 5px;
}
#mapicon{
	float: right;
	width:8%;
	positon: 5px;
}
#maincontent{
	position:5px,relative;
	height:auto;
}
#leftcontent {
	float: left;
	position: relative;
	left:5px; 
	width: 390px;
	height: auto;
	margin:5px;
}
#questioncontainer{
	background: #F2F2F2;
	position:relative;
}
#questionrow{
	width:400px;
}
#question{
	float:left;
	background:#808080;
	color:#f2f2f2;
	width:50%;
	margin:5px;
	text-align:right;
	overflow:auto;
}
#answer{
	float:left;
	color:#404040;
	width:50%
	margin: 5px;
	text-align:left;
	
}
#rightcontent {
	  float: right;
	  position: 5px,relative;
	  width: 390px;
	  height: auto;
}
#photoframe {
	  position: relative;
	  background: #808080;
	  margin-right:10px;margin-left:10px;margin-top:20;height:360px;width:380px;
	  
}
#photo{	  
	float:left;
	   margin-top:15px;margin-right:18px;margin-left:17px;
}
p.photoCaption {
	float:right
	right:9px;
	padding-top:9px;
	font-style:italic;
	font-size:.8em;
	line-height:1.0em;
}

#logo{
	display:table-cell;
	float:left;
	position:5px;
	width:300px;
}

#headerCaption {
	display:table-cell;
	width:400px;
	font-style:italic;
	font-size:10;
	line-height:1.0em;
	color:white;
	text-align:right;
	vertical-align: top; 
}

h2 {
	font-size:16px;
	color:#736F6E;
	margin:0;
	padding:5px 0 0 0;
}
h3 {
	font-size:16px;
	color:#736F6E;
	margin:0;
	padding:5px 0 0 0;
}
</style>
<div id="wrap">
	<div id="header"><div id="logo"><img src="http://watermapmonitordev.appspot.com/images/flowballoon.jpg" ></div><div id="headerCaption"><label>This data is provided by Water For People </label></div></div>
	<div id="communitydef">
		<div id="communitydesc">
			<h2>Community | $communityName</h2><p>
			<h3>data collection date: $collectionDate</h3>
		</div>
		<div id="mapicon">
				    #if($type=="water" && $waterSystemStatus=="System Functioning and Meets Government Standards")
	                    <img src="http://watermapmonitordev.appspot.com/images/iconGreen.png" width="29" height="65" border="0" />
					#elseif($type=="water" && $waterSystemStatus=="Functioning but with Problems")
						<img src="http://watermapmonitordev.appspot.com/images/iconYellow.png" width="29" height="65" border="0" />
					#elseif($type=="water" && ($waterSystemStatus=="Broken-down system"))
						<img src="http://watermapmonitordev.appspot.com/images/iconRed.png" width="29" height="65" border="0" />
					#elseif($type=="water" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/iconBlack.png" width="29" height="65" border="0" />
					#elseif($type=="school" && $waterSystemStatus=="System Functioning and Meets Government Standards")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilGreen.jpg" width="29" height="65" border="0" />
					#elseif($type=="school" && $waterSystemStatus=="Functioning but with Problems")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilYellow.jpg" width="29" height="65" border="0" />
					#elseif($type=="school" && $waterSystemStatus=="Broken-down system")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilRed.jpg" width="29" height="65" border="0" />
					#elseif($type=="school" && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/pencilBlack.jpg" width="29" height="65" border="0" />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="System Functioning and Meets Government Standards")	
						<img src="http://watermapmonitordev.appspot.com/images/houseGreen.jpg" width="29" height="65" border="0" />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="Functioning but with Problems")	
						<img src="http://watermapmonitordev.appspot.com/images/houseYellow.jpg" width="29" height="65" border="0" />
					#elseif(($type=="public_institutions" || $type=="health_posts") && $waterSystemStatus=="Broken-down system")	
						<img src="http://watermapmonitordev.appspot.com/images/houseRed.jpg" width="29" height="65" border="0" />
					#elseif(($type=="public_institutions" || $type=="health_posts") && ($waterSystemStatus=="No Improved System" || $waterSystemStatus=="Unknown"))	
						<img src="http://watermapmonitordev.appspot.com/images/houseBlack.jpg" width="29" height="65" border="0" />
					#end
		</div>
	</div>
	<div id="maincontent">
		<div id="leftcontent">
			<div id="questionContainer">
			 #if($type=="water")
					    	<div id="questionrow"><div id="question">Community Name</div><div id="answer">$communityName</div></div>
		    				<div id="questionrow"><div id="question">Type of Point</div><div id="answer"> $typeOfPoint</div></div>
	    					<div id="questionrow"><div id="question">Type of Technology</div><div id="answer"> $primaryTypeTechnology</div></div>
		    				<div id="questionrow"><div id="question">Date Data was Collected</div><div id="answer"> $collectionDate</div></div>
							<div id="questionrow"><div id="question">Construction Date</div><div id="answer"> $constructionDateOfWaterPoint<br></div></div>
							<div id="questionrow"><div id="question">Estimated Number of Users</div><div id="answer"> $numberOfHouseholdsUsingWaterPoint<br></div></div>
							<div id="questionrow"><div id="question">Water Point Provides Enough Water Every Day</div><div id="answer"> #if($provideAdequateQuantity=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes #else<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no#end<br></div></div>
							<div id="questionrow"><div id="question">Has System Been Down More Than 1 Day</div><div id="answer"> #if($down1DayFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> yes #else <img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> no #end<br></div></div>
							<div id="questionrow"><div id="question">Farthest Household from the Water Point is Within 500 Meters</div><div id="answer"> #if($farthestHouseholdfromWaterPoint=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> yes #else <img src="http://watermapmonitordev.appspot.com</images/icon-check.gif" /> no#end<br></div></div>
							<div id="questionrow"><div id="question">Water Quality of Water Meets Government Standards</div><div id="answer">  #if($meetGovtQualityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes #else<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no #end<br></div></div>
							<div id="questionrow"><div id="question">Quantity of Water Meets Government Standards</div><div id="answer"> #if($meetGovtQuantityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes #else<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no #end<br></div></div>
							<div id="questionrow"><div id="question">Tariff/User Fee</div><div id="answer"> $costPer<br></div></div>
							<div id="questionrow"><div id="question">Who Manages the Water Point?</div><div id="answer"> $currMgmtStructure<br></div></div>
							<div id="questionrow"><div id="question">Who Repairs the Water Point</div><div id="answer"> $whoRepairsPoint<br></div></div>
							<div id="questionrow"><div id="question">Water Technology</div><div id="answer"> $primaryTypeTechnology<br></div></div>
							<div id="questionrow"><div id="question">Water System Status</div><div id="answer"> $waterSystemStatus<br></div></div>
						#else				
		    				<div id="questionrow"><div id="question">Community Name</div><div id="answer"> $communityName<br></div></div>
		    				<div id="questionrow"><div id="question">Type of Public Institution</div><div id="answer"> $typeOfPoint<br></div><div>
		    				<div id="questionrow"><div id="question">Public Institution Name</div><div id="answer"> $institutionName<br></div></div>
	    					<div id="questionrow"><div id="question">Type of Technology</div><div id="answer"> $primaryTypeTechnology<br></div></div>
		    				<div id="questionrow"><div id="question">Date Data was Collected</div><div id="answer"> $collectionDate<br></div></div>
							<div id="questionrow"><div id="question">Construction Date</div><div id="answer"> $constructionDateOfWaterPoint<br></div></div>
							<div id="questionrow"><div id="question">Estimated Number of Users</div><div id="answer"> $numberOfHouseholdsUsingWaterPoint<br></div></div>
							<div id="questionrow"><div id="question">Water Point Provides Enough Water Every Day</div><div id="answer"> #if($provideAdequateQuantity=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes #else<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no#end<br></div></div>
							<div id="questionrow"><div id="question">Has System Been Down More Than 1 Day</div><div id="answer"> #if($down1DayFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> yes #else <img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> no #end<br></div></div>
							<div id="questionrow"><div id="question">Farthest Household from the Water Point is Within 500 Meters</div><div id="answer"> #if($farthestHouseholdfromWaterPoint=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes #else<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no#end<br></div></div>
							<div id="questionrow"><div id="question">Water Quality of Water Meets Government Standards</div><div id="answer">  #if($meetGovtQualityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes #else<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no #end<br></div></div>
							<div id="questionrow"><div id="question">Quantity of Water Meets Government Standards</div><div id="answer"> #if($meetGovtQuantityStandardFlag=="Yes")<img src="http://watermapmonitordev.appspot.com/images/icon-check.gif" /> yes #else<img src="http://watermapmonitordev.appspot.com/images/icon-x.gif" /> no #end<br></div></div>
							<div id="questionrow"><div id="question">Tariff/User Fee</div><div id="answer"> $costPer<br></div></div>
							<div id="questionrow"><div id="question">Who Manages the Water Point?</div><div id="answer"> $currMgmtStructure<br></div></div>
							<div id="questionrow"><div id="question">Who Repairs the Water Point</div><div id="answer"> $whoRepairsPoint<br></div></div>
							<div id="questionrow"><div id="question">Primary Sanitation Technology</div><div id="answer"> $primaryTypeTechnology<br></div></div>
						#if($secondaryTechnology!="null")
		    					<div id="questionrow"><div id="question">Secondary Sanitation Technology</div><div id="answer"> $secondaryTypeTechnology<br></div></div>
	    				#end
							<div id="questionrow"><div id="question">Water System Status</div><div id="answer">$waterSystemStatus<br></div></div>
					#end 
			</div>
		</div>
		<div id="rightcontent">
			<div id="photoframe">
				<div id="photo">
				<img src="$photoUrl" height="300px" width="350px" align="center">
				<p class="photoCaption"><label>$waterPointPhotoCaption</label>
				</div>
			</div>
		</div>
	</div>
</div>