  <Placemark>
    <!--<name><![CDATA[<strong><font color="red" size="+2">$communityCode</font></strong>]]></name>-->
    <name>$communityCode</name>
    <styleUrl>$pinStyle</styleUrl>
    <description><![CDATA[
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<style type="text/css">
	
	body{
		/*font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;*/	/* Fonts of main menu items */
		font-family: Veranda;	/* Fonts of main menu items */
		margin-top:0px;					
	}	
	.bodyText{
		padding-left:10px;
		padding-right:10px;
		border-top:1px solid #000000;	
	}
	.bodyText p{
		margin-top:5px;
	}
	#mainContainer{
		width:100%;
		height:90%;		
		margin:0 auto;
		background-repeat:no-repeat;
		padding-top:1px;			
	}
	#mainMenu{
		background-color: #FFF;	/* Background color of main menu */
		/*font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;*/	/* Fonts of main menu items */
		font-family: Veranda;	/* Fonts of main menu items */
		font-size:0.9em;	/* Font size of main menu items */
		border-bottom:1px solid #000000;	/* Bottom border of main menu */
		height:30px;	/* Height of main menu */
		 
		position:relative;	/* Don't change this position attribute */
		
	}
	#mainMenu a{
		padding-left:5px;	/* Spaces at the left of main menu items */
		padding-right:5px;	/* Spaces at the right of main menu items */
		font-weight:bold;
		/* Don't change these two options */
		position:absolute;
		bottom:-1px;	/* Change this value to -2px if you're not using a strict doctype */
	}
	#submenu{		
		font-family: Veranda;	/* Font  of sub menu items */
		background-color:#E2EBED;	/* Background color of sub menu items */
		height:90%;
		width:100%;	/* Don't change this option */
		
	}	
	#submenu div{
		white-space:nowrap;	/* Don't change this option */
		
	}
	/*
	Style attributes of active menu item 
	*/
	#mainMenu .activeMenuItem{
		/* Border options */
		border-left:1px solid #000000;
		border-top:1px solid #000000;
		border-right:1px solid #000000;		
		background-color: #E2EBED;	/* Background color */
		
		cursor:pointer;	/* Cursor like a hand when the user moves the mouse over the menu item */
	}
	/*
	Style attributes of inactive menu items
	*/
	#mainMenu .inactiveMenuItem{		
		color: #000;	/* Text color */
		cursor:pointer;	/* Cursor like a hand when the user moves the mouse over the menu item */
	}
	
	#submenu a{	
		text-decoration:none;	/* No underline on sub menu items - use text-decoration:underline; if you want the links to be underlined */
		padding-left:5px;	/* Space at the left of each sub menu item */
		padding-right:5px;	/* Space at the right of each sub menu item */
		color: #000;	/* Text color */
		font-size:0.9em; 
	}
	
	#submenu a:hover{
		color: #FF0000;	/* Red color when the user moves the mouse over sub menu items */
	}
	
	</style>
</head>
<body>

<div id="submenu">
	<!-- The first sub menu -->
	<div id="submenu_1">
	   		<table width="580" cellpadding="0" cellspacing="0">
	    	<tr>
	    	<td valign="top">
	    	<table>
	    			<tr>
	    				
			        	<td align="left" valign="top">
			            	<a href="www.waterforpeople.org"><img src="http://waterforpeople.s3.amazonaws.com/images/wwmp-300.jpg" width="150" height="112""></a>
			          	</td>
	    			</tr>
	       				<tr>
	    					<td><b><font color="#003333" face="Verdana">Type of Technology</font></b><br><font face="face="Verdana">$typeOfWaterPointTechnology</font><td>
	    				</tr>
	    				<tr>
	    					<td><b><font color="#003333" face="Verdana">Type of Point</font></b><br><font face="face="Verdana">$typeOfPoint</font><td>
	    				</tr>
						<!--<tr>
							<td><b><font color="#003333" face="Verdana">$constructionDateOfWaterPointCaption</font></b><br><font face="face="Verdana">$constructionDateOfWaterPoint</font></td>
						</tr>-->
						<!--<tr>
							<td><b><font color="#003333" face="Verdana">$numberOfHouseholdsUsingWaterPointCaption</font></b><br><font face="face="Verdana">$numberOfHouseholdsUsingWaterPoint</font></td>
						</tr>-->
						<tr>
							<td><b><font color="#003333" face="Verdana">Is the farthest household from the water point within 500 meters?:</font></b><br><font face="face="Verdana">$farthestHouseholdfromWaterPoint</font></td>
						</tr>
						<!--<tr>
							<td><b><font color="#003333" face="Verdana">$waterSystemStatusCaption</font></b><br><font face="face="Verdana">$waterSystemStatus</font></td>
						</tr>-->
						<tr>
	    					<td><br><a href="www.waterforpeople.org">Water For People</a></td>
	    					
	    				</tr>
					</table>
		    	</td>
		    	
		    	<td valign="top">
	    			<table>
	    				<tr>
	    					<td align="left" valign="middle"><font color="#003333" size="+2" face="Verdana"><strong>Water For People Monitoring</strong></font><hr /></td>
	    				</tr>
	    				<tr>
	    					<td><img src="$photoUrl" alt="picture"  align="left" /></td>
	    				</tr>
	    				<tr>
	    					<td align="left" valign="top">
	    						<dt><font color="#666666"><strong>$waterPointPhotoCaption</strong></font></dt>
	    					</td>
	    				</tr>
	    			</table>
	    		</td>
		    	
			</tr>
	    	<tr>
	    		<td colspan="3" align="right" valign="top">
					<font color="#999999">$footer</font>
				</td>
	    	</tr>
	    </table>
	</div>
<script type="text/javascript">
initMenu();
</script>
<!-- This is the end of the menu -->
	
</body>
</html>
   ]]></description>
    <Point>
      <coordinates>$longitude,$latitude,$altitude</coordinates>
    </Point>
  </Placemark>
