  <Placemark>
  <TimeStamp>
  	<when>$timestamp</when>
  </TimeStamp>
    <!--<name><![CDATA[<strong><font color="red" size="+2">$communityCode</font></strong>]]></name>-->
    <name>$communityName</name>
    <styleUrl>$pinStyle</styleUrl>
    <description><![CDATA[
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Water For People :: Field Operations Watch</title>
$balloon
   ]]></description>
    <Point>
      <coordinates>$longitude,$latitude,$altitude</coordinates>
    </Point>
  </Placemark>
