{"expiration": "2015-10-02T00:00:00Z",
  "conditions": [ 
    {"bucket": "$s3bucket"}, 
    ["starts-with", "$key", "$directory/"],
    {"acl": "public-read"},
    {"success_action_redirect": "http://www.gallatinsystems.com/SuccessUpload.html"},
    ["starts-with", "$Content-Type", ""],
    ["content-length-range", 0, 90145728]
  ]
}