<style>
@charset "utf-8";
body {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #6d6e71;
}
#if( $display == "googleearth" )
/* main start */
img {
	border-style: none;
}

a {
	color: #416482;
	outline: none;
}
a:link, a:visited {
	text-decoration: none;
	color: #f3f3f3;
}
a:hover, a:active {
	text-decoration: none;
	color: #bdd73c;
}
a:hover {
	text-decoration: none;
}

a {
	outline: none;
}


/*content end*/
#footer {
	width: 960px;
	overflow: hidden;
	border-top: 1px solid #b58e2d;
	padding: 8px 0 0;
}

#footer ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	font: 11px/ 14px Verdana, Helvetica, sans-serif;
	overflow: hidden;
	width: 100%;
}

#footer ul.menu li {
	float: left;
	background: url(/assets/images/separator-02-inner.gif) no-repeat 0 3px;
	letter-spacing: 1px;
	margin: 0 13px 0 0;
	padding: 0 0 0 13px;
}

#footer ul.menu li:first-child {
	background: none;
	padding-left: 0;
}

#footer ul.menu li a {
	color: #c93;
	text-decoration: none;
}

#footer ul.menu li a:hover {
	text-decoration: underline;
}


#wrap {
	background: #e7e7e7;
	width: 550px;
	height: 550px;
	padding-top: 10px;
}
#headerBalloon {
	height: 60px;
	background: #58585a;
	margin-right: auto;
	margin-left: auto;
	width: 530px;
}
#WFPcredit {
	font-size: 10px;
	color: #f3f3f3;
	position: relative;
	font-weight: normal;
	text-align: right;
	width: 380px;
	left: 140px;
	top: -60px;
}
#communityDesc {
	background: #f3f3f3;
	height: 60px;
	width: 530px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
#communityDef {
	float: left;
	font-size: 15px;
	position: relative;
	top: 5px;
	left: 5px;
}
#communityName {
	margin-bottom: 10px;

}
.mapIcon {
	float: right;
	position: relative;
	right: 5px;
	top: 5px;
}
#mainContent {
	width: 530px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
#leftContent {
	width: 325px;
	font-size: 10px;
	position: relative;
	float: left;
	top: 10px;
}
.QandA {
	position: relative;	
	min-height: 30px;
}
.question  {
	background: #58585a;
	text-align: right;
	color: #f3f3f3;
	margin-top: 3px;
	margin-bottom: 3px;
	float: left;
	width: 155px;
	padding-right: 5px;
	padding-left: 5px;	
	min-height: 30px;
}
.question span {
	position: relative;
	width: 100%;
}

.answer  {
	float: right;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 150px;
	padding-left: 10px;
	min-height: 30px;
	
}
.answer img {
	top: 2px;
	position: relative;
}

#rightContent {
	position: relative;
	float: right;
	width: 195px;
	top: 10px;
}
#rightContent .photo {
	background: #58585a;
	padding: 10px;
}
#photoCaption {
	color: #f3f3f3;
	font-size: 10px;
	text-align: center;
	margin-top: 5px;
}

#end


</style>
<div id="wrap">
    <div id="headerBalloon"><img src="http://watermapmonitordev.appspot.com/images/brandGreySmall.png">
      <div id="WFPcredit">This FLOW data is provided by <a href="http://www.waterforpeople.org/FLOW">Water For People</a></div>
    </div>
    <div id="communityDesc">
      <div id="communityDef">
      #if($type=="WATER_POINT")
        <div id="communityName">Subdivision | $subValue </div>
       #end
      </div>
      <div class="mapIcon">				    
      				#if($type=="WATER_POINT" )
	                    <img src="http://watermapmonitordev.appspot.com/images/iconGreen80.png" width="50" height="50"  />
					#elseif($type=="SCHOOL")	
						<img src="http://watermapmonitordev.appspot.com/images/pencilGreen80.png" width="50" height="50"  />
					#elseif(($type=="PUBLIC_INSTITUTION" || $type=="HEALTH_POSTS"))	
						<img src="http://watermapmonitordev.appspot.com/images/houseBlack80.png" width="50" height="50"  />
					#end
</div>
  </div>
  <div id="mainContent">
      <div id="leftContent">
			 #if($type=="WATER_POINT")
	    					<div class="QandA"><div class="question">Number of water point</div><div class="answer"> $waterPointCount<br></div> </div>
					#end
      </div>
    <div id="rightContent">
    </div>
    </div>
</div>
