<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Google Inc.//DTD Google Web Toolkit 2.0.1//EN" "http://google-web-toolkit.googlecode.com/svn/tags/2.0.1/distro-source/core/src/gwt-module.dtd">
<module>
    <inherits name="com.gallatinsystems.framework.gwt.PortletFramework" />
    <inherits name="org.waterforpeople.mapping.app.gwt.WFPServices" />
    <inherits name="com.google.gwt.i18n.I18N" />
    <inherits name="com.google.gwt.maps.GoogleMaps" />
    <source path="client" />
    <entry-point class="org.waterforpeople.mapping.surveyentry.client.SurveyEntryClient" />
    <script src="http://maps.google.com/maps?gwt=1&amp;file=api&amp;v=2&amp;sensor=false&amp;key=$mapsApiKey"/>
</module>
