## $instanceName
s3Id = $awsIdentifier
signingKey = $signingKey
dataS3Policy = $surveyDataS3Policy
dataS3Sig = $surveyDataS3Sig
imageS3Policy = $imagesS3Policy
imageS3Sig = $imagesS3Sig
dataUploadUrl = $dataUploadUrl/ 
serverBase = $serverBase
surveyS3Url = $dataUploadUrl/surveys/
apiKey = $restApiKey
