  <header class="floats-in top" id="header" role="banner">
        <div>
            <hgroup>
                <h1>Akvo
                    <abbr title="field level operations watch">Flow</abbr></h1>
                <h2>field level operations watch</h2>
            </hgroup>
            <nav id="topnav" role="navigation">
                {{view FLOW.NavigationView controllerBinding="controller.controllers.navigationController"}}
            </nav>
            <form>
                <input type="search" placeholder="Find anything here." name="flowSearch" title="Search Akvo Flow Web"/>
            </form>
	<section id="userLog">
      <ul>
        <li class="userLogin"><a href="#">{{t _login}}</a></li>
        <li class="userRegister"><a href="#">{{t _register}}</a></li>
      </ul>
      <ul>
      	<li></li>
      	<li></li>
      </ul>
    </section>

        </div>
    </header>
    <div id="pageWrap">
        {{outlet}}
    </div>
    <footer class="floats-in bottomPage" role="contentinfo">
        <div>
			<nav id="footerNav" class="floats-in">
				<ul>
					<li><a href="http://www.akvo.org/blog/?cat=30" title="Go to News and Software Updates" target="_blank" >News and Software Updates</a></li>
					<li><a href="http://flowhelp.akvo.org" title="Support" target="_blank" >Support</a></li>
					<li><a href="http://flow.readthedocs.org/en/latest/index.html" title="Documentation and User Guides" target="_blank" >Documentation and User Guides</a></li>
					<li><a href="http://www.akvo.org/" title="Terms of Service" target="_blank" >Terms of Service</a></li>
					<li><a href="http://www.akvo.org/web/terms_of_use" title="akvo.org" target="_blank" class="akvoDotOrg">akvo.org</a></li>
				</ul>
			</nav>  
        </div>
		<div><small>Copyright &copy; 2012 akvo.org</small></div>
    </footer>
