<div class="hero-unit">
       <h1>Devices</h1>
       <p>
           {{#view FLOW.TestView}}
           <a {{action "change" target="FLOW.testView"}}>click me</a>
           {{view.data}} {{/view}} {{FLOW.testController.data}}
       </p>
   </div>